<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773821808662-eelup5fcu8f9f1n73qm3115nj529ufqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773821808662-eelup5fcu8f9f1n73qm3115nj529ufqa</string>
	<key>API_KEY</key>
	<string>AIzaSyD3LequJs3CDmOmWcffDENoKH5TbNv8zi4</string>
	<key>GCM_SENDER_ID</key>
	<string>773821808662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jsbl-consumer-iOS</string>
	<key>PROJECT_ID</key>
	<string>jsbl-bb</string>
	<key>STORAGE_BUCKET</key>
	<string>jsbl-bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773821808662:ios:75b140f3ed730193f2f537</string>
	<key>DATABASE_URL</key>
	<string>https://jsbl-bb.firebaseio.com</string>
</dict>
</plist>
