<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.inov8.jsbl.sco"
          android:versionCode="38"
          android:versionName="2.0.11.13">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.inov8.agentmate.MyApplication"
        android:icon="@drawable/icon"
        android:label="JSBL SCO"
        tools:replace="android:allowBackup, android:label"
        android:allowBackup="false"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity
            android:name="com.inov8.agentmate.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.inov8.agentmate.activities.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        <activity
            android:name="com.inov8.agentmate.activities.debitCard.DebitCardIssuance"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name="com.inov8.agentmate.activities.debitCard.TermsConditionsDebitCardActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.SignOutActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.IBFTInputActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.IBFTConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.inov8.agentmate.activities.BaseActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.SubMenuAcitivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.CategoryMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.BaseCommunicationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.inov8.agentmate.activities.MainMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.TransactionReceiptActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.collection.CollectionPaymentInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.collection.CollectionPaymentConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashIn.CashInInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashIn.CashInConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashOut.CashOutInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashOut.CashOut3rdPartyInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashOut.CashOut3rdPartyConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.bvs.paysys.FingerScanActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.cashOut.CashOutConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.AgentToAgentInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.AgentToAgentConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.fundsTransfer.FundsTransferInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.fundsTransfer.FundsTransferConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.fundsTransfer.ReceiveCashInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.fundsTransfer.ReceiveCashConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.TransferInInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.TransferInConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.TransferOutInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.agentTransfer.TransferOutConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.billPayment.BillPaymentsUtilityFetchBillInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.billPayment.BillPaymentTypeActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.billPayment.BillPaymentConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.retailPayment.RetailPaymentInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.retailPayment.RetailPaymentConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.myAccount.MyAccountViewTransactionsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.myAccount.MyAccountBalanceInquiryActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.myAccount.MyAccountChangePinActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.myAccount.MyAccountChangePinMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.myAccount.MyAccountSelectMiniStatementActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.TermsConditionsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.hra.HraRegistrationActivity1"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.hra.HraRegistrationActivity2"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.hra.HraRegistrationActivity3"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountBvsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountHraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountMobileInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountSecondInputActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountSecondInputDiscrepantActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountConfirmationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountDiscrepantDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountPicInputUploadActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.OpenAccountConfirmationDiscrepantActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.openAccount.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.bvs.paysys.NadraRestClient"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.bvs.paysys.OTCClient"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.activities.BvsDeviceSelectorActivity1"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.inov8.agentmate.bvs.BvsActivity"
            android:screenOrientation="portrait"
            android:exported="false">

        <meta-data
            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" android:value="true"/>
        </activity>

    </application>

</manifest>