\/* pageName  - style.css * / 
 <style type ="text/css">table {
	background-color: #636A94;
}

/* This is setting the background color of your entire page - change 'black' to new color*/
body { 
	background-image: url("../images/aw/bg.png");
	background-repeat: repeat-x;
	color: black;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

#contents TD
{
	padding-bottom: 5px;
}

/* This is the style applied to all text display fields - change '#fd9b2c;' to relevant color */
.text {
	font-family: Verdana;
	font-weight: normal;
	font-size: x-small;
	white-space: normal;
	color: #c33825;
}

.hf {
	font-family: Verdana, Arial, Tahoma;
	font-size: 2.0em;
	white-space: normal;
	color: #086CA8;
}

.labels {
	font-family: Verdana;
	font-weight: normal;
	font-size: x-small;
	white-space: normal;
	color: #c33825;
}

.sh {
	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	font-size: x-small;
	white-space: normal;
	color: #04b4ff;
}

.st {
	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-size: x-small;
	white-space: normal;
	color: #c33825;
}

input {
	border: 1px solid #999999;
	color: #333333;
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	height: 18px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
}

/* This change the color of the font in the dropdown boxes - change '#000000;' to relevant color */
select {
	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-size: x-small;
	white-space: normal;
	color: #000000;
}

/* This change the color of the hyperlinks - change '#fd9b2c;' to relevant color */
a {
    color: #005D9A;
    text-decoration: none;
}

a:hover {
	color: #005D9A;
    text-decoration: underline;
}

/* This change the color of the horizontal line - change '#fd9b2c;' to relevant color */
hr {
	color: #37a8ea;
	background-color: #ffffff;
	margin: 0px;
}

p {
	margin: 3px 0 0;
	padding: 0;
}

table {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.datagrid
{
	border: 1px solid #8CACBB;
}

.datagrid th
{
	color: white;
	background-color: #7A86E1;
}

.row-color
{
	background-color: #F0F1F8;
}

.row-mouse-over
{
	background-color: #D7DFEC;
}

form {
	margin: 0 auto;
}

.label {
	color: #666666;
}

.value-text {
	color: #333333;
}

.mainbutton {
	background-color: #FFFFFF;
	border: 1px solid #ABCEE3;
	color: #666666;
	font-family: Tahoma, Arial, Verdana; font-size : 11px; font-weight :
	normal;
	height: 25px;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
}

h1, h2, h3
{
    color: #0070C0;
    font-family: Lucida Grande,Lucida Sans,Helvetica,Arial,Verdana,sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4
{
	border-bottom: 1px dotted #D3D3D3;
    color: #6FA5FD;
    margin-bottom: 20px;
    padding-bottom: 2px;
    text-align: center;
}

.error-msg
{
	color: red;
}