@charset "utf-8";
/* CSS Document */

body{
	background: #fff url("../images/aw/bg.png") repeat 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color: #2e2e2e;
	font-weight: normal;
	text-decoration: none;
}

.container{
	background-color: white;
	margin: 15px auto;
}



a{
	color: #005D9A;
	text-decoration: none;
}

a:hover{
	color: #005D9A;
	text-decoration: underline;
}

hr {
	color: white;
	background-color: #ffffff;
	margin: 0px;
}

h4 {
	display:block;
	width:25%;
	font-size:16px;
	background-color:#d4dade;
	padding:8px 10px;
	color:#7b7b7b;
	margin:10px auto;
	text-align: center;
}

.hf {
	font-size: 30px;
	white-space: normal;
	color:#ed1c24;
	line-height: 40px;
	margin-top:20px;
}
.label {
	color: #3e3e3e;
	font-size: 15px;
	padding:10px;
	line-height: 20px;
}

.value-text {
	color: #8dc63f;
	font-size: 15px;
}

.error-msg {
	color:#ed1c24;
	line-height: 20px;
}

.success-msg {
	color: #8dc63f;
	line-height: 20px;
}

/*******************  HEADER CSS   *****************************/

.top-header {
	/*display:block;*/
	background-image: url("../images/aw/header_bg_top_aw.png");
	background-position: 20px 0px;
	background-repeat: no-repeat;
	height: 124px;
}

#header-links {
	line-height: 95px;
}

#header-links ul {
	height: 25px;
	margin: auto;
}

#header-links ul li {
	float: left;
}

.agent-name {
	color: white;
	font-size: 16px;
	font-weight:bold;
	line-height: 30px;
	padding-right: 15px;
	text-align: right;
}

.current-date {
	color: white;
	font-size: 12px;
	line-height: 20px;
	padding-right: 15px;
	text-align: right;
}

a.change-password {
	background: url(../images/aw/btn-change-password.png) no-repeat 0px 0px;
	display: block;
	height: 25px;
	width: 133px;
}

a.change-password:hover {
	background: url(../images/aw/btn-change-password-hover.png) no-repeat
	0px 0px;
}

a.signout {
	background: url(../images/aw/btn-signout.png) no-repeat 0px 0px;
	display: block;
	height: 25px;
	width: 75px;
}

a.signout:hover {
	background: url(../images/aw/btn-signout-hover.png) no-repeat 0px 0px;
}

a.close {
	background: url(../images/aw/btn-close.png) no-repeat 0px 0px;
	display: block;
	height: 25px;
	width: 75px;
}

a.close:hover {
	background: url(../images/aw/btn-close-hover.png) no-repeat 0px 0px;
}


/*****************************HEADER*************************************/
#header_portal{
	display:block;
	width:100%;
	height:159px;
	background:url(../images/aw/agent_header_bg_top.png) repeat-x 0px 0px;
	position:relative;
	/* background: #ecf0f1; */
}

#header_portal .logo_portal{
	display:block;
	background:url(../images/aw/agent_web_logo.png) no-repeat 0px 0px;
	width:341px;
	height:124px;
	position:absolute;
	top:.0px;
	left:0px;
}
/*#header_portal .banner_right_top{
	display:block;
	background:url(../images/aw/banner_right_top.png) no-repeat 0px 0px;
	width:672px;
	height:124px;
	position:absolute;
	top:0px;
	right:0px;
}*/

#header_portal .header_top_buttons{
	display:block;
	width:350px;
	height:27px;
	position:absolute;
	bottom:3px;
	right:10px;
}
#header_portal .header_top_buttons a{
	display:block;
	width:75px;
	height:25px;
	float:right;
}
#header_portal .header_top_buttons a.home{background:url(../images/buttons/btn-home.png) no-repeat 0px 0px;}
#header_portal .header_top_buttons a.home:hover{background:url(../images/buttons/btn-home-hover.png) no-repeat 0px 0px;}
#header_portal .header_top_buttons a.change-password{
	width:133px;
	background:url(../images/aw/btn-change-password.png) no-repeat 0px 0px;
}
#header_portal .header_top_buttons a.change-password:hover{background:url(../images/aw/btn-change-password-hover.png) no-repeat 0px 0px;}
#header_portal .header_top_buttons a.signout{background:url(../images/aw/btn-signout.png) no-repeat 0px 0px;}
#header_portal .header_top_buttons a.signout:hover{background:url(../images/aw/btn-signout-hover.png) no-repeat 0px 0px;}

#header_portal .creden_name_portal{
	display:block;
	position:absolute;
	bottom:12px;
	left:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#0066b3;
	text-align:left;
}
#header_portal .creden_name_portal span.creden_separtor{
	color:#000000;
}
#header_portal .creden_name_portal span.creden_date_portal{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:0px;
	margin-bottom:0px;
	color:#000000;
}




/*******************  FORM   *****************************/

.text {
	display:block;
	background-color:#fff;
	color:#3e3e3e;
	border:1px solid #c4c6ca;
	padding:2px 5px;
	margin-top:5px; margin-bottom: 5px;
	border-radius: 4px;


}


/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}

.mainbutton {
	color: white;

	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	width: 28%; !important;
}

input.login-text{
	display:block;
	background-color:#fff;
	color:#3e3e3e;
	padding:5px 8px;
	border:1px solid #c4c6ca;
}
input.small-30{width:30%;} input.small-40{width:40%;}
input.medium-50{width:50%;} input.medium-60{width:60%;}
input.large-70{width:70%;} input.large-80{width:80%;} input.large-90{width:90%;}

label{
	display:block;
	color:#3e3e3e;
	font-weight:bold;
	margin:7px 10px;
	/*text-align: left;*/
}


input[type="button"], input[type="submit"], input[type="reset"]{
	cursor:pointer;
	/*display:inline-block !important;*/
	font:13px/100% Arial, Helvetica, Verdana, sans-serif;
	padding:6px 10px;
	outline:none !important;
	text-align:center;
	text-decoration:none;
	/*background:#f1f1f1 url(../images/aw/portal-btns-bg.png) repeat-x 0px 0px;*/
	background:#0060af;
	border-top:1px solid #6ca3d1;
	border-left:1px solid #6ca3d1;
	border-right:1px solid #004a9b;
	border-bottom:1px solid #004a9b;
	color:#ffffff;
	width: auto;
	overflow: visible;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover{
	background:#0094d2;
	color:#ffffff;
}

#footer-agent-web {
	/*display:block;*/
	height: 78px;
	background: url(../images/aw/footer-menu-bg.png) repeat-x 0px 9px;
}

#footer-agent-web a {
	display: block;
	height: 25px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-position: 50% 15px;
	background-repeat: no-repeat;
	text-decoration:none;
	padding-top: 53px;
}

.footer-td-bg {
	background: url(../images/aw/footer-menu-bg-hover.png) repeat-x 0px 0px;
}

#footer-agent-web a:hover {
	text-decoration: none;
}

#footer-agent-web img {
	display: block;
	margin: 12px auto;
}

#footer-agent-web tr,#footer-agent-web td {
	margin-top: 0px;
}

#footer-agent-web a.change-pin {
	background-image: url(../images/aw/btn-change-pin.png);
}

#footer-agent-web a.check-balance {
	background-image: url(../images/aw/btn-check-balance.png);
}

#footer-agent-web a.receive-cash {
	background-image: url(../images/aw/btn-receive-cash.png);
}

#footer-agent-web a.pay-cash {
	background-image: url(../images/aw/btn-pay-cash.png);
}

#footer-agent-web a.pay-cash-to-cnic {
	background-image: url(../images/aw/btn-pay-cash-to-cnic.png);
}

#footer-agent-web a.bill-payment {
	background-image: url(../images/aw/btn-bill-payment.png);
}

#footer-agent-web a.agent-transfer {
	background-image: url(../images/aw/btn-transfer-cash.png);
}

#footer-agent-web a.cash-transfer {
	background-image: url(../images/aw/btn-transfer-cash.png);
}

#footer-agent-web a.mini-statement {
	background-image: url(../images/aw/btn-mini-statement.png);
}

#footer-agent-web a.my-commission {
	background-image: url(../images/aw/btn-my-commission.png);
}
#footer-agent-web a.bulk-bill-payment {
	background-image: url(../images/aw/btn-bulk-bill-payment.png);
}
#footer-agent-web a.mini-load {
	background-image: url(../images/aw/btn-mini-load.png);
}

#footer-agent-web a.cnic-to-core {
	background-image: url(../images/aw/btn-cnic-to-core.png);
}


#footer-agent-web a.transfer-out {
	background-image: url(../images/aw/btn-transfer-out.png);
}

#footer-agent-web a.transfer-in {
	background-image: url(../images/aw/btn-transfer-in.png);
}

#footer-agent-web a:hover {
	background-position: 50% -63px;
}



.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/aw/Preloader_7.gif) center no-repeat #fff;
	display: none;
}

#cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.80;
	background: #aaa;
	z-index: 10;
	display: none;
}
/**************************************BILL ICONS*******************************/

#bill_icons{
	display:block;
	width:90%;
	margin:0px auto;
}
#bill_icons a{
	display:block;
	width:140px;
	height:140px;
	float:left;
	margin:40px 0px 0px 90px;
}
/*
#bill_icons .2510708 a{background:url(../images/aw/products/icon-bill-ptcl.png) no-repeat 0px 0px;}
#bill_icons .2510700 a{background:url(../images/aw/products/icon-bill-gepco.png) no-repeat 0px 0px;}
#bill_icons .2510710 a{background:url(../images/aw/products/icon-bill-sngpl.png) no-repeat 0px 0px;}
#bill_icons .2510711 a{background:url(../images/aw/products/icon-bill-ssgc.png) no-repeat 0px 0px;}
#bill_icons .2510704 a{background:url(../images/aw/products/icon-bill-kesc.png) no-repeat 0px 0px;}
#bill_icons .2510705 a{background:url(../images/aw/products/icon-bill-lesco.png) no-repeat 0px 0px;}
#bill_icons .2510600 a{background:url(../images/aw/products/icon-bill-iesco.png) no-repeat 0px 0px;}
*/
#bill_icons a:hover{background-position:0px -140px;}

/**************************************END BILL ICONS*******************************/

#content_welcome{
	/*display:block;*/
	margin:20px auto;
}
#content_welcome .btn_green{
	display:block;
	width:158px;
	height:46px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	background:url(../images/aw/btn-green.png) no-repeat 0px 0px;
	color:#fff;
}
#content_welcome .btn_green:hover{background-position:0px -46px;}
#content_welcome .btn_green:active{background-position:0px -92px;}


/**************************************Mini Statement*******************************/

.datagrid {
	border: 1px solid #f58220;
}

.datagrid th {
	color: white;
	background-color: #f58220;
}

.row-color {
	background-color: #F0F1F8;
}

.row-mouse-over {
	background-color: #D7DFEC;
}

/**************************************Mini Statement Ends*******************************/


.eXtremeTable{
	margin:auto !important;
}
.eXtremeTable td{padding:7px;}



/**************************************New CSS*******************************/
@font-face {
	font-family: 'Geogrotesque-Regular';
	src: url(https://www.zong.com.pk/fonts/Geogrotesque-Regular.eot?#iefix) format("embedded-opentype"), url(https://www.zong.com.pk/fonts/Geogrotesque-Regular.otf) format("opentype"), url(https://www.zong.com.pk/fonts/Geogrotesque-Regular.woff) format("woff"), url(https://www.zong.com.pk/fonts/Geogrotesque-Regular.ttf) format("truetype"), url(https://www.zong.com.pk/fonts/Geogrotesque-Regular.svg#Geogrotesque-Regular) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Arca-Heavy';
	src: url(https://www.zong.com.pk/fonts/Arca-Heavy.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

body{
	background: none;
	font-family: Geogrotesque-Regular !important;
}
.vertical-left-menu{
	background-color: #fff;
}
.main-body-area {
	background-color: #ecf0f1;
}
.hf {
	font-family: Geogrotesque-Regular !important;
	color: #004890;
}
#header_portal .creden_name_portal {
	font-family: Geogrotesque-Regular !important;
	color: #004890 !important;
}
.nav a {
	font-family: Geogrotesque-Regular !important;
}
.nav > li > a {
	font-family: Geogrotesque-Regular !important;
}
.nav > li.active > a {
	background-color: #f58220 !important;
}
.nav a:hover, .nav li.active > a {
	background-color: #004890 !important;
}
.label {
	font-family: Geogrotesque-Regular !important;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	background:#8dc63f !important;
	border: none;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background:#f58220 !important;
}
.text {
	font-family: Geogrotesque-Regular !important;
}
#header_portal .creden_name_portal span.creden_date_portal {
	font-family: Geogrotesque-Regular !important;
}
.external a {
	color: #004890 !important;
}
.external a:hover {
	color: #f58220 !important;
}
a, a:hover {
	font-family: Geogrotesque-Regular !important;
}

input[type="submit"], input[type="button"]{
	background-color: #004890 !important;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background:#f58220 !important;
}
#header_portal{
	background-color:#fff;
	background-image:url('../images/aw/banner_right_top.png');
	background-repeat:no-repeat;
	background-position:right;
}
#header_portal .logo_portal {
	display: block;
	background: url(../images/aw/aw_logo.png) no-repeat 0px 0px;
	width: 100%;
	height: 125px;
	position: relative;
}
#header_portal .sco_logo_portal {
	background: url(../images/aw/sco_company_logo.png) no-repeat 0px 0px;
	width: 280px;
	height: 63px;
	position: absolute;
	top: 26px;
	left: 20px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Geogrotesque-Regular!important;
	color: #004890 !important;
}
