
table { background-color: #636A94 }

/* This is setting the background color of your entire page - change 'black' to new color*/
body {background-color:white; }

/* This is the style applied to all text display fields - change '#fd9b2c;' to relevant color */
.text {	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
		font-weight: normal; 
		font-size: x-small;
		white-space:normal; 
		color : #4E0D82;}

.hf {	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold; 
		font-size: medium;
		white-space:normal; 
		color :#4E0D82; }
.sh {	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold; 
		font-size: x-small;
		white-space:normal; 
		color :#4E0D82;}
.st {	
	font-weight: normal;
	font-size : x-small;
    font-family : Tahoma, Arial, Helvetica, Geneva, sans-serif;
    color :#A33CFF;    
    }
/*.error {	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
		font-weight: bold; 
		font-size: x-small;
		white-space:normal; 
		color :black;
		background-color: white;
		}*/
.error {
	/*background: #D9A8FF;*/
	/*border: 1px solid #4E0D82;*/
		/*color: #FF002A;*/
	/*color: #F9635C;*/
	font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
	font-size: x-small;
	font-weight: normal;
	/*margin: 10px auto;*/	
	/*padding: 1px;*/
	text-align: center;
	vertical-align: middle;
}

/* This change the color of the font that you type in the input fields - change '#000000' to relevant color */ 
input[type="text"] {font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
					font-weight: normal; 
					font-size: x-small;
					white-space:normal; 
					color : #56009A;}
					
/* This change the color of the font that you type in the password input fields - change '#000000' to relevant color */ 
input[type="password"] {font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
					font-weight: normal; 
					font-size: x-small;
					white-space:normal; 
					color : #56009A;}					

/* This change the color of the font on the buttons - change '#fd9b2c;' to relevant color */ 
input[type="submit"] {font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
					font-weight: bold; 
					font-size: x-small;
					white-space:normal; 
					color : #56009A;}
input[type="button"] {font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
					font-weight: bold; 
					font-size: x-small;
					white-space:normal; 
					color : #56009A;
					size: 10;
					}

/* This change the color of the font in the dropdown boxes - change '#000000;' to relevant color */ 
select {font-family: Tahoma, Arial, Helvetica, Geneva, sans-serif;
		font-weight: normal; 
		font-size: x-small;
		white-space:normal; 
		color : #000000;		
		}

/* This change the color of the hyperlinks - change '#fd9b2c;' to relevant color */ 
a {	color : #6313A5;	
	font-weight: bold;
	font-size : x-small;
    font-family : Tahoma, Arial, Helvetica, Geneva, sans-serif;
    
    /*background-color: #C381F8;*/
    }
a:hover{
	color : white;	
	font-weight: bold;
	font-size : x-small;
	border: 1px solid #000;
    font-family : Tahoma, Arial, Helvetica, Geneva, sans-serif;
    text-decoration: underline overline;
    background-color:#7100CC; 
	}

/* This change the color of the horizontal line - change '#fd9b2c;' to relevant color */ 
hr {color	: #D9A8FF;	
	background-color:  #D9A8FF;}
marquee{
	color:#4E0D82;
	background-color: #D9A8FF;
}