*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




.block_container{
	background-color:#ecf0f1;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.block_container:before, .block_container:after {
	display: table;
	content: " ";
}
.block_container:after {
	clear: both;
}

.block_row {
	margin-right: -15px;
	margin-left: -15px;
}
.block_row:before, .block_row:after {
display: table;
content: " ";
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
float: left;
}

.col-lg-4 {
width: 33.33333333333333%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-8 {
width: 66.66666666666666%;
}
.col-lg-12 {
	width: 100%;
}


.block_box {
	font-size:12px;
	font-weight:bold;
	color:#004890;
	margin-bottom: 20px;
	border:1px solid #d5d5d5;
	border-radius: 3px;
	background-color: #ffffff;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
	-moz-box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
	box-shadow: 0px 3px 0px rgba(219, 223, 224, 1);
}
.block_box .box_title{
	padding-left:15px;
	padding-right:15px;
	height: 45px;
	line-height: 45px;
	background-color:#d8dee0;
	color: #496aa4;
	font-size: 16px;
	font-weight: normal;
	border-bottom:1px solid #d5d5d5;
}
/*
.block_box .box_title.blue{background-color:#27a5f9}
.block_box .box_title.pink{background-color:#ea4c89}
.block_box .box_title.green{background-color:#149e50}
.block_box .box_title.purple{background-color:#9f90e4}
.block_box .box_title.dark-grey{background-color:#6c7681}
.block_box .box_title.dark-blue{background-color:#43609c}
.block_box .box_title.orange{background-color:#f15722}
*/

.block_box .box_inner{
	padding:15px;
}

.block_box label{
	font-size:12px;
}
.block_box .inner-row{
	margin-bottom:10px;
	padding-bottom:10px;
}

h1{
	margin-bottom:0px !important;
	padding-bottom:30px !important;
}

h3{
	color:#004890;
	margin:0px !important;
	margin-bottom:7px !important;
}

.textBox{display:inline-block; display:inline; width:60%; height:36px; margin-right:10px; font-size:16px;}
input[type="button"], .button, input[type="submit"]{display:inline-block; display:inline; width:37%; font-size:16px;}

.q_links{background-color:transparent; border:none;}

.q_links .button, .q_links input[type="button"]{ 
	background-color:#fff !important;
	width:100%;
	color:#545454;
	border:1px solid #d5d5d5 !important;
	font-size:16px;
}
.q_links .button:hover, .q_links input[type="button"]:hover{ 
	background-color:#0094d2 !important;
}
.q_links .box_inner{padding-bottom:0px;}


div#main{
	background-color:transparent !important;
}





