html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** Base Body Styles **/
body {
	background: #ecf0f1;
	color: #999;
	font: 100%/1.5em Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {

}
h1 {
	background-color: #f47b20;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
input, textarea {
	font-family: tahoma, arial;
	font-size: 12px;
	color: #57595d;
}
a {
	text-decoration: none;
}
p {
	line-height: 20px;
}

#logo_login{
	display:block;
	width:300px;
	height:59px;
	background:url(../images/login/login_logo.png) no-repeat 0px 0px;
	margin: 50px auto 0 auto;
}
#box_bg {
	background: #fff;
	width: 362px;
	display: block;
	margin: 20px auto 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#content {
	padding: 0px 28px 23px 28px;
	position:relative;
}
#content:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}


/**************************************NOTIFICATION DIVS*******************************/
.social {
	padding: 0px 0;
}

#errorMsg{
	padding:0px;
	font-size:14px;
	color:#ed1c24;
	margin:0px;
	text-align: center;
	}
	#errorMsg p{margin:10px 0px; padding:0px;}

	
	#errorMsg.error{ background-color:none; border:none; color:#ed1c24 !important; border-bottom: 1px solid #e0e0e0;}
/**************************************END NOTIFICATION DIVS*******************************/
.blue {
	color: #2b83b6;
}
/** Buttons **/
.twitter {
	background: url(../images/login/twitter_btn.png) no-repeat;
	height: 32px;
	width: 157px;
	display: block;
	float: left;
	margin-top: 10px;
}
.twitter:hover {
	background: url(../images/login/twitter_btn.png) no-repeat;
	background-position: 0 -32px;
}
.twitter:active {
	margin-top: 11px
}
.btn_1 {
	padding: 8px 0 0 35px;
	text-shadow: -1px -1px 0px #0083b3;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	height: 32px;
	display: block;
}
.fb {
	background: url(../images/login/fb_btn.png) no-repeat;
	height: 32px;
	width: 157px;
	display: block;
	float: right;
	margin-top: 10px;
}
.fb:hover {
	background: url(../images/login/fb_btn.png) no-repeat;
	background-position: 0 -32px;
}
.fb:active {
	margin-top: 11px
}
.btn_2 {
	padding: 8px 0 0 31px;
	text-shadow: -1px -1px 0px #366c96;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	height: 32px;
	display: block;
}
.button {
	display: inline-block;
	background:#1dabb8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:none;
	float: right;
	margin-top: 18px;
	padding: 9px 26px 8px 26px;
	color: #fff;
	font-size: 14px;
	cursor:pointer;
}
.button:hover{
	background:#06a8ff;
}
.button a {
	padding: 9px 26px 8px 26px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	display: block;
}
.button.green {
	background-image: linear-gradient(bottom, #c01b21 0%, #ed1c24 100%);
	background-image: -o-linear-gradient(bottom, #c01b21 0%, #ed1c24 100%);
	background-image: -moz-linear-gradient(bottom, #c01b21 0%, #ed1c24 100%);
	background-image: -webkit-linear-gradient(bottom, #c01b21 0%, #ed1c24 100%);
	background-image: -ms-linear-gradient(bottom, #c01b21 0%, #ed1c24 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c01b21), color-stop(1, #ed1c24));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c01b21, endColorstr=#ed1c24)";
	border: 1px solid #c01b21;
	border-bottom: 2px solid #ed1c24;
	box-shadow: inset 0px 1px 0px #ed1c24;
	background-color: #ed1c24;
}
.button.green:hover {
	background: #c01b21;
}
.button.green:active {
	/*margin-top: 19px;*/
}
.button.blue {
	background-image: linear-gradient(bottom, #1F7FB6 0%, #4EABE0 100%);
	background-image: -o-linear-gradient(bottom, #1F7FB6 0%, #4EABE0 100%);
	background-image: -moz-linear-gradient(bottom, #1F7FB6 0%, #4EABE0 100%);
	background-image: -webkit-linear-gradient(bottom, #1F7FB6 0%, #4EABE0 100%);
	background-image: -ms-linear-gradient(bottom, #1F7FB6 0%, #4EABE0 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1F7FB6), color-stop(1, #4EABE0));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4EABE0, endColorstr=#1F7FB6)";
	border: 1px solid #2a76a2;
	border-bottom: 2px solid #215f82;
	box-shadow: inset 0px 1px 0px #9cd0ee;
	text-shadow: -1px -1px 0px #246c95;
	background-color: #3897cd;
}
.button.blue:hover {
	background: #3897cd;
}
.button.blue:active {
	margin-top: 19px;
}
/** Login Fields **/
#login {
	padding: 13px 0 0 0;
	
}
.login {
	font-size: 14px;
	/*color: #8e8d8d;*/
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;;
	padding: 11px 15px 10px 50px;
	background-color: #fdfdfd;
	width: 255px;
	display: block;
	border: 1px solid #d8d8d8;
	margin: 13px 0 -3px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}
.user {
	background: url(../images/login/user.png) no-repeat;
}
.user.error {
	background: url(../images/login/user_error.png) no-repeat;
	border: 1px solid #f19d9d;
	background-color: #ffe0e0;
	box-shadow: inset 0px 0px 0px #fff;
	color: #d95e5e;
}
.password {
	background: url(../images/login/password.png) no-repeat;
}
.password.error {
	background: url(../images/login/password_error.png) no-repeat;
	border: 1px solid #f19d9d;
	background-color: #ffe0e0;
	box-shadow: inset 0px 0px 0px #fff;
	color: #d95e5e;
}
.captchaimg
{
	margin-top: 10px;
}
.captcha {

	/*background: url(../images/login/captcha.png) no-repeat;+*/
}
/** Register Fields **/
.register {
	font-size: 14px;
	color: #8e8d8d;
	font-family: Arial, Helvetica, sans-serif;;
	padding: 11px 15px 10px 15px;
	background-color: #fdfdfd;
	width: 290px;
	display: block;
	border: 1px solid #d8d8d8;
	margin: 13px 0 -3px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}
.register.error {
	border: 1px solid #f19d9d;
	background-color: #ffe0e0;
	box-shadow: inset 0px 0px 0px #fff;
	color: #d95e5e;
}
/**  Custom Checkbox **/
.checkbox {
	margin: 30px 0 15px 0;
}
.checkbox li {
	list-style: none;
	height: 15px;
}
.checkbox li:not(#foo) > fieldset > div > span > input[type='checkbox'] {
	opacity: 0;
	float: left;
	width: 15px;
}
.checkbox li:not(#foo) > fieldset > div > span > input[type='checkbox'] + label {
	margin: 0;
	clear: none;
	padding: 0 0 0 22px;
	cursor: pointer;
	background: url(../images/login/check.png) no-repeat;
	height: 15px;
	display: block;
}
.checkbox li:not(#foo) > fieldset > div > span > input[type='checkbox']:checked + label {
	background: url(../images/login/check.png) no-repeat;
	height: 15px;
	display: block;
	background-position: 0 -15px;
}
/** Text Under Box**/
#bottom_text {
	margin: 12px auto;
	width: 300px;
	display: block;
	text-align: center;
	text-shadow: 1px 1px 0px #fff;
	line-height: 19px;
}
#bottom_text a {
	color: #2d932b;
	font-weight: bold;
	padding: 0 8px 0 0;
	background: url(../images/login/bullet.png) no-repeat 100% 50%;
}
#bottom_text a:hover {
	color: #878787;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.3s linear;
	-transition: all 0.2s linear
}
#blue {
	color: #2b83b6 !important;
}
#blue:hover {
	color: #878787 !important;
}


#login-footer{
		display:block;
		width:362px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		text-align:center;
		color:#3e3e3e;
		margin:10px auto;
	}
	#login-footer .logo_inov8 a{
		display:block;
		background:url(../images/aw/logo-zindigi.png) no-repeat 0px 0px;
		width:60px;
		height:62px;
		margin:5px auto;
	}
#login_logo{
	display:block;
	width:300px;
	height:59px;
	background:url(../images/login/sco_login_logo.png) no-repeat 0px 0px;
	margin: 50px auto 0 auto;
}
