

#header_portal {
	height: 115px;
	background: none;
	background-color:#fff;
	border-bottom:1px solid #d5dddf;
	border-top:5px solid #fdb813;
}

#header_portal .logo_portal {
	background: url(../images/aw/company_logo.png) no-repeat 0px 0px;
	width: 280px;
	height: 63px;
	position: absolute;
	top: 26px;
	left: 20px;
}

#header_portal .header_top_buttons{
		width:450px;
		height:auto;
		bottom:15px;
		right:0px;
	}



/***********Sidebar Menu***********/
.sidebar_menu_bg{
	background-color:#0292e0;
}
/**********************************/

/***********User Admin Setting in Menu***********/


.user_admin_dashboard{
	display:block;
	width:100%;
	border-bottom:1px solid #0c9be8;
}
.user_admin_dashboard .admin_pic{
	display:block;
	background:url(../images/user_admin_pic.png) no-repeat 0px 0px;
	width:55px;
	height:55px;
	margin:10px auto;
}
.user_admin_dashboard .admin_txt{
	display:block;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	padding-bottom:10px;
}
.user_admin_dashboard .date_txt{
	display:block;
	text-align:center;
	font-size:12px;
	color:#fff;
	padding-bottom:10px;
}


/**********************************/


/***********Side Menu***********/

div#nav ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#fff;
	width: 230px; /*C 150*/
	background-color: #0292e0; /* IE6 Bug */ /*This color is cell spacing*/
}

div#nav li{
	border-bottom: 1px solid #0c9be8;
}
div#nav li.menubar {
	background: url(../images/arrow.png) 95% center no-repeat;
}

div#nav li a { 
	display:block;
	padding: 15px 0px;
	text-decoration: none;
	text-indent:10px;
	color: #fff;
	font-size: 13px;
	border-left: 5px solid #0292e0;
	border-bottom:none;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
}



div#local li a:hover, div#nav li a:hover, div#nav li a.current {
	background: #11a7f7; /*d7e9f5 by Shoaib or eaeaea*/
	color: #fff;
	border-left: 5px solid #fff; /*CCCCCC*/
}

div#nav ul ul{
	border: none;
	background-color:#11a7f7;
}


div#nav ul ul li a{
	text-indent:0px;
	border-left: 5px solid #11a7f7;
	padding: 10px 0px;
	padding-left:10px;
	line-height:normal;
}





/**********************************/

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  font-weight:bold;
  text-decoration:none;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e57837;
  *background-color: #e57837;
  background-repeat: repeat-x;
  *border: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #e57837;
  *background-color: #e57837;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:visited, .btn:link{
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.btn.btn-large {
	padding: 8px 20px;
}


.btn.btn-home{
	background-color: #e57837;
	*background-color: #e57837;
	color:#fff;
	
}
.btn.btn-home-icon{
	background-image:url(../images/icon_home.png);
	background-repeat:no-repeat;
	background-position:20% 50%;
	text-indent:21px;
}


.btn.btn-setting{
	background-color: #f29e25;
	*background-color: #f29e25;
	color:#fff;
	
}
.btn.btn-setting-icon{
	background-image:url(../images/icon_setting.png);
	background-repeat:no-repeat;
	background-position:10% 50%;
	text-indent:21px;
}


.btn.btn-signout{
	background-color: #ebebeb;
	*background-color: #ebebeb;
	color:#676767;
	border:1px solid #d7d7d7;
	
}
.btn.btn-signout-icon{
	background-image:url(../images/icon_signout.png);
	background-repeat:no-repeat;
	background-position:15% 50%;
	text-indent:21px;
}
.btn.btn-signout:hover{
	background-image:url(../images/icon_signout_hover.png);
	border:1px solid #e53737;
}


.btn.btn-home:hover, .btn.btn-setting:hover, .btn.btn-signout:hover{
	background-color: #e53737;
	*background-color: #e53737;
	color:#fff;
}







/**********************************/

h1 {
	display:block;
	padding:20px 0px;
	margin:0px !important;
	margin-bottom:30px !important;
	font-size: 2.2em;
/*	font-size: 26px;*/
	background-color:#ecf0f1;
	color: #f47b20;
	text-align: left;
}







/**********************************/

.breadcrumb {
	padding: 8px 0px;
	margin: 0 0 0px;
	list-style: none;
	background-color:#ecf0f1;
	font-size: 13px;
	color: #004890;
}
.breadcrumb li {
	display: inline-block;
	display:inline;
	line-height:20px;
}
.breadcrumb li .divider {
	padding: 0 5px;
}
.breadcrumb li a {
	text-decoration:none;
	color:#004890;
}
.breadcrumb li a:hover, .breadcrumb li a:visited:hover, .breadcrumb li a:link:hover {
	text-decoration:none;
	color:#000;
}
.breadcrumb li.active {
	color:#f47b20;
	
}
.breadcrumb li a:visited, .breadcrumb li a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #004890;
	font-size: 13px;
	text-decoration: none;
}





/**********************************/

.formText {
	font-weight: bold;
	color: #004890;
	padding-right:7px;
}


.textBox {
	border: 1px solid #e6e6e6;
	padding: 6px 5px;
	margin-bottom: 10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
select {
	height:35px !important;
}

input[type="submit"], input[type="reset"], input[type="button"]{
	padding: 0px 17px;
	background: none !important;
	border:none !important;
	height:36px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:14px;
}
input[type="submit"], input[type="button"]{
	background-color:#74ba66 !important;
	margin-bottom:5px;
	margin-reight:5px;
}
input[type="submit"]:hover, input[type="button"]:hover{
	background-color: #0094d2 !important;
	color: #ffffff !important;
}

input[type="reset"] {
	border: none !important;
	background: none !important;
	background-color:#e0e0e0 !important;
	color:#7c7c7c;
}
input[type="reset"]:hover {
	background: none !important;
	background-color:#4d555e !important;
	color:#fff;
}

.eXtremeTable .toolbar {
	display: block;
	float: left;
	background-color: #ecf0f1 !important;
	border: 1px solid #e6e9ed !important;
	margin-left:30px;
}
.eXtremeTable select {
	border: solid 1px #EEE;
	width: 125px !important;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	height:25px !important;
	margin:5px 0px;
}
.eXtremeTable select:disabled {
	color: #333333;
	background-color: #fff;
	background-color: #d9d9d9;
}

.eXtremeTable .filter input{
 width:71% !important;
}

a.linktext {
	background:none !important;
	background: url(../images/aw/linktext-btn-bg.png) repeat-x -483px 0px !important;
	border: none !important;
	color: #fff !important;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
a.linktext:hover {
	background:none !important;
	background: url(../images/aw/linktext-btn-bg-hover.png) repeat-x -483px 0px !important;
	color:#fff !important;
}







.eXtremeTable .filter input {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

.eXtremeTable .statusBar {
	background-color: #ecf0f1 !important;
	color: #004890 !important;
}

.eXtremeTable .filterButtons {
	background-color: #ecf0f1 !important;
}

.eXtremeTable .filter {
	background-color: #ecf0f1 !important;
	padding-left:10px !important;
}

.eXtremeTable .tableRegion {
	border: 1px solid #bababa !important;
	width:98%;
	margin:0px auto !important;
}

.eXtremeTable .tableHeader {
	background-color: #0292e0 !important;
}
.eXtremeTable .tableHeaderSort {
	background-color: #11a7f7 !important;
}

.eXtremeTable .calcRow {
	background-color: #88c77c !important;
	padding: 8px 6px !important;
	color: #000 !important;
}


/**********************************/
/**********************************/

.infoMsg {
	display:block;
	width:75%;
	margin:10px auto 20px auto;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.errorMsg {
	 display:block;
	 width:75%;
	 margin:10px auto 20px auto;
	 padding: 15px;
	 border: 1px solid transparent;
	 border-radius: 5px;
	 color: #8f3131;
	 line-height:20px;
	 font-weight:bold;
	 background-color: #f7d9d9;
	 border-color: f1bcbc;
	 border-color: #d93240;
}




/**********************************/

#wizard_group {
	width: 100%;
	background: #ffffff;
	border: 1px solid #cdd8db;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin-top:10px;
}

#wizard_group #header_wizard {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #e57837;
	border-bottom: 1px solid #bf5c22;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
}

#wizard_group #header_wizard h1 {
	color: #ffffff;
	margin: 0px 0px 0px 15px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	text-align: left;
	font-weight: normal !important;
	padding:0px !important;
	background-color: transparent !important;
}

#wizard_group #status_bar_top {
	background: #f29e25;
	border-bottom: 1px solid #cdd8db;
}

#wizard_group #content_wrap table td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#004890;
}


#wizard_group .type_txt {
width: 190px;
font-size:12px;
border: 1px solid #e6e6e6 !important;
padding: 6px 5px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background:none !important;
background-color:#ffffff;
color:#000;
line-height:20px;
}


#wizard_group .submit_btn, .rf-pp-cntr .submit_btn {
	padding: 0px 17px;
	margin: 0px;
	width: 100px;
	height:36px;
	border: none;
	font-size: 14px;
	color: #ffffff;
	background:none;
	background: #74ba66;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	text-align: center;
	outline: none !important;
	text-decoration: none;
	overflow: visible;
}

.rf-pp-cntr .submit_btn{
	margin-right: 5px;
	margin-top: 7px;
}
#wizard_group .submit_btn:hover, .rf-pp-cntr .submit_btn:hover {
	background: #0094d2;
	color: #ffffff;
}

#wizard_group #ah_nav ul li a {
	color:#676767;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}


#wizard_group #ah_nav ul li a.selectd {
	background:none;
	background: #e53737;
	border: none;
	color: #fff;
}

#wizard_group label {
	font-size: 12px;
	font-weight:bold;
	color:#004890;
}


#wizard_group .type_list {
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #fff;
	color: #000000;
	line-height: 20px;
	height: 35px !important;
	background:none;
}

#table_form label{
	color: #004890;
    font-weight: bold;
}

.upload {
    display: block !important;
    width: 260px !important;
    height: 35px !important;
    /*opacity: 0 !important;*/
    overflow: hidden !important;
}

/**********************************/
/**********************************/

#wizard_group #footer .btn_cancel:hover, #wizard_group #footer .btn_next:hover, #wizard_group #footer .btn_finish:hover, #wizard_group #footer .btn_save:hover, #wizard_group #footer .btn_update:hover, #wizard_group #footer .btn_ok:hover, #wizard_group #footer .btn_prev:hover
 #wizard_group #footer .btn_create_link:hover, #wizard_group #footer .btn_create_group:hover {
background-position: 0px -31px !important;
}
#wizard_group #footer .btn_ok {
display: inline-block;
zoom: 1;
width: 59px;
height: 31px;
background: url(../images/ah_images/ok.png) no-repeat 0px 0px !important;
margin-right: 15px;
margin-top: 13px;
border: none;
cursor: pointer;
}

#wizard_group #footer .btn_cancel {
display: inline-block;
zoom: 1;
width: 74px;
height: 31px;
background: url(../images/ah_images/wizard_btn_cancel.png) no-repeat 0px 0px !important;
margin-left: 15px;
margin-top: 13px;
border: none;
cursor: pointer;
}


/**********************************/
/**********************************/
/**********************************/




#profile_table_header{
	display:block; 
	width:99.8%; 
	height:76px; 
	background:url(../images/profile_page_header_bg.png) repeat-x 0px 0px; 
	margin-top:-30px;
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	margin-bottom:20px;
}
#profile_table_header .row_div{
	display:block;
	padding-top:7px;
	padding-left:10px;
}
#profile_table_header .heading{
	font-weight:bold;
	font-size:12px;
	width:135px;
	float:left;
	margin-top:7px;
}

#profile_table_header .button, #profile_table_header input[type="button"] {
	height:auto !important;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	cursor: pointer;
	display: inline-block;
	font: 12px/100% 'Lucida Grande','Lucida Sans Unicode','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
	padding: 4px 10px !important;
	outline: none!important;
	text-align: center;
	text-decoration: none;
	position: relative;
	-moz-box-sizing: border-box!important;
	line-height: 16px !important;
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	-pie-background: linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	border: 1px solid #bbb !important;
	color: #555 !important;
	text-shadow: 0 1px 0 #fff !important;
	margin:0px !important;
}

#profile_table_header .button:hover {
	border: 1px solid #aaa !important;
	background: #ececec !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e1e1e1),to(#c1c1c1));
	background: -moz-linear-gradient(top,#e1e1e1,#c1c1c1);
	-pie-background: linear-gradient(top,#e1e1e1,#c1c1c1);
	border: 1px solid #999 !important;
	color: #555 !important;
}

#profile_table_header .button[disabled]{
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	color: #999 !important;	
	border-top: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #999 !important;
	border-bottom: 1px solid #999 !important;
}
#profile_table_header .button[disabled]:hvoer{
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	color: #999 !important;	
}




#profile_table fieldset{
	border:1px solid #8ec6e5;
	width:93%;
	margin:10px auto;
	padding:10px;
}
#profile_table fieldset legend{
	color: #004890;
	font-size:16px;
	font-weight:normal;
	padding:0px 10px;
}
#profile_table .pic{
	display:block;
	margin:15px auto;
	width:300px;
	background-color:#8ec6e5;
	position:relative;
}
#profile_table .pic img{
	margin:15px auto;
	background-color:#f29e25;
}
#profile_table .pic .pic_footer{
	display:block;
	width:100%;
	height:36px;
	background:#0292e0;
	line-height:36px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	position:relative;
}
#profile_table .pic .pic_footer .next, #profile_table .pic .pic_footer .prev{
	display:block;
	width:24px;
	height:24px;
	position:absolute;
	top:6px;
}
#profile_table .pic .pic_footer .next{
	background:url(../images/profile_page_pic_footer_next_btn.png) no-repeat 0px 0px;
	right:7px;
}
#profile_table .pic .pic_footer .prev{
	background:url(../images/profile_page_pic_footer_prev_btn.png) no-repeat 0px 0px;
	left:7px;
}
#profile_table .pic .zoom{
	display:block;
	width:24px;
	height:24px;
	background:url(../images/profile_page_pic_footer_zoom_btn.png) no-repeat 0px 0px;
	position:absolute;
	bottom:60px;
	right:15px;
}
#profile_table .pic .pic_footer .next:hover, #profile_table .pic .pic_footer .prev:hover, #profile_table .pic .zoom:hover{
	background-position:0px -24px;
}
/******     Customer Details Forms CSS     ****************************/




#profile_table_header{
	display:block; 
	width:99.8%; 
	height:76px; 
	background:url(../images/profile_page_header_bg.png) repeat-x 0px 0px; 
	margin-top:-30px;
	border-left:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
	margin-bottom:20px;
}
#profile_table_header .row_div{
	display:block;
	padding-top:7px;
	padding-left:10px;
}
#profile_table_header .heading{
	font-weight:bold;
	font-size:12px;
	width:135px;
	float:left;
	margin-top:7px;
}

#profile_table_header .button, #profile_table_header input[type="button"] {
	height:auto !important;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
	cursor: pointer;
	display: inline-block;
	font: 12px/100% 'Lucida Grande','Lucida Sans Unicode','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
	padding: 4px 10px !important;
	outline: none!important;
	text-align: center;
	text-decoration: none;
	position: relative;
	-moz-box-sizing: border-box!important;
	line-height: 16px !important;
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	-pie-background: linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	border: 1px solid #bbb !important;
	color: #555 !important;
	text-shadow: 0 1px 0 #fff !important;
	margin:0px !important;
}

#profile_table_header .button:hover {
	border: 1px solid #aaa !important;
	background: #ececec !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e1e1e1),to(#c1c1c1));
	background: -moz-linear-gradient(top,#e1e1e1,#c1c1c1);
	-pie-background: linear-gradient(top,#e1e1e1,#c1c1c1);
	border: 1px solid #999 !important;
	color: #555 !important;
}

#profile_table_header .button[disabled]{
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	color: #999 !important;	
	border-top: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #999 !important;
	border-bottom: 1px solid #999 !important;
}
#profile_table_header .button[disabled]:hvoer{
	background: #f1f1f1 !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#d1d1d1)) !important;
	background: -moz-linear-gradient(top,#e9e9e9,#d1d1d1) !important;
	color: #999 !important;	
}




.profile_table fieldset{
	border:1px solid #8ec6e5;
	width:93%;
	margin:10px auto;
	padding:10px;
}
.profile_table fieldset legend{
	color: #004890;
	font-size:16px;
	font-weight:normal;
	padding:0px 10px;
}
.profile_table .pic{
	display:block;
	margin:15px auto;
	width:300px;
	background-color:#8ec6e5;
	position:relative;
}
.profile_table .pic img{
	margin:15px auto;
	background-color:#f29e25;
}
.profile_table .pic .pic_footer{
	display:block;
	width:100%;
	height:36px;
	background:#0292e0;
	line-height:36px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	position:relative;
}
.profile_table .pic .pic_footer .next, .profile_table .pic .pic_footer .prev{
	display:block;
	width:24px;
	height:24px;
	position:absolute;
	top:6px;
}
.profile_table .pic .pic_footer .next{
	background:url(../images/profile_page_pic_footer_next_btn.png) no-repeat 0px 0px;
	right:7px;
}
.profile_table .pic .pic_footer .prev{
	background:url(../images/profile_page_pic_footer_prev_btn.png) no-repeat 0px 0px;
	left:7px;
}
.profile_table .pic .zoom{
	display:block;
	width:24px;
	height:24px;
	background:url(../images/profile_page_pic_footer_zoom_btn.png) no-repeat 0px 0px;
	position:absolute;
	top:185px;
	right:15px;
}
.profile_table .pic .pic_footer .next:hover, .profile_table .pic .pic_footer .prev:hover, .profile_table .pic .zoom:hover{
	background-position:0px -24px;
}
.profile_table .pic_thumb{
	display:block;
	width:100%;
	height:60px;
	padding-top:3px;
}
.profile_table .pic_thumb a{display:inline; display:inline-block; margin:0px !important; padding:0px !important;}
.profile_table .pic_thumb img{display:inline-block; margin:0px; padding:0px; width:55px; height:55px;}



.profile_table td{padding-left:3px !important;}

.profile_table fieldset.cold{border:2px solid #009900;}
.profile_table fieldset.cold legend, .profile_table fieldset.cold .state{color: #009900; font-weight:bold;}

.profile_table fieldset.hot{border:2px solid #bc3333;}
.profile_table fieldset.hot legend, .profile_table fieldset.hot .state{color: #bc3333; font-weight:bold;}

.profile_table fieldset.warm{border:2px solid #e8e011;}
.profile_table fieldset.warm legend, .profile_table fieldset.warm .state{color: #e8e011; font-weight:bold;}

#header_portal .sco_logo_portal {
	background: url(../images/aw/sco_company_logo.png) no-repeat 0px 0px;
	width: 280px;
	height: 63px;
	position: absolute;
	top: 26px;
	left: 20px;
}
