<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="complaintSubcategoryDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintSubcategoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="complaintSubcategoryViewDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintSubcategoryViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="complaintDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="complaintListViewDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="complaintHistoryViewDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintHistoryViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="complaintHistoryDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintHistoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="holidayDAO" class="com.inov8.microbank.server.dao.holidaymodule.hibernate.HolidayHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="complaintParamValueDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintParamHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="complaintReportDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintReportHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="complaintManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.complaintmodule.ComplaintManagerImpl">
				<property name="complaintDAO" ref="complaintDAO" />
				<property name="complaintHistoryDAO" ref="complaintHistoryDAO" />
				<property name="complaintSubcategoryDAO" ref="complaintSubcategoryDAO" />	
				<property name="complaintSubcategoryViewDAO" ref="complaintSubcategoryViewDAO" />	
				<property name="complaintListViewDAO" ref="complaintListViewDAO" />		
				<property name="complaintHistoryViewDAO" ref="complaintHistoryViewDAO" />		
				<property name="complaintCategoryDAO" ref="complaintCategoryDAO" />		
				<property name="complaintParamValueDAO" ref="complaintParamValueDAO" />		
				<property name="complaintReportDAO" ref="complaintReportDAO" />
				<property name="jmsProducer" ref="jmsProducer"/>
				<property name="messageSource" ref="messageSource"/>
				<property name="holidayManager" ref="holidayManager"/>
				<property name="workingSaturday" value="false"/>
				<property name="smsSender" ref="nonTransactedSmsSender"/>
				<property name="escalationLevel1Emails" value="${escalation.level1.emails}"/>
				<property name="escalationLevel2Emails" value="${escalation.level2.emails}"/>
				<property name="escalationLevel3Emails" value="${escalation.level3.emails}"/>
				<property name="userDeviceAccountsManager" ref="userDeviceAccountsManager"/>	
				<property name="appUserDAO" ref="userDao"/>
				<property name="genDao" ref="genericDAO"/>
				<property name="actionLogManager" ref="actionLogManager"/>
			</bean>
		</property>
	</bean>

	<bean id="complaintCategoryDAO" class="com.inov8.microbank.server.dao.complaintsmodule.hibernate.ComplaintCategoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="holidayManager" class="com.inov8.microbank.server.service.holidaymodule.HolidayManagerImpl">
        <property name="holidayDAO" ref="holidayDAO" />
	</bean>

	<bean id="complaintFacade" class="com.inov8.microbank.server.facade.portal.complaintmodule.ComplaintFacadeImpl">
		<property name="complaintManager">
			<ref local="complaintManager"/>
		</property>
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator"/>
		</property>
	</bean>
	
</beans>
