<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="bulkDisbursementsFileInfoDAO"
          class="com.inov8.microbank.disbursement.dao.hibernate.BulkDisbursementsFileInfoHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="disbursementFileInfoViewDAO"
          class="com.inov8.microbank.disbursement.dao.hibernate.DisbursementFileInfoViewHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="bulkDisbursementHibernateDAO"
          class="com.inov8.microbank.disbursement.dao.hibernate.BulkDisbursementHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="bulkDisbursementViewHibernateDAO"
          class="com.inov8.microbank.disbursement.dao.hibernate.BulkDisbursementViewHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="bulkPaymentViewHibernateDAO"
          class="com.inov8.microbank.disbursement.dao.hibernate.BulkPaymentViewHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="bulkDisbursementsManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.disbursement.service.BulkDisbursementsManagerImpl" autowire="byName">
                <property name="bulkDisbursementHibernateDAO" ref="bulkDisbursementHibernateDAO"/>
                <property name="bulkDisbursementViewHibernateDAO" ref="bulkDisbursementViewHibernateDAO"/>
                <property name="bulkPaymentViewHibernateDAO" ref="bulkPaymentViewHibernateDAO"/>
                <property name="olaVeriflyFinancialInstitution" ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"/>
                <property name="appUserManager" ref="userManager"/>
                <property name="smartMoneyAccountManager" ref="smartMoneyAccountManager"/>
                <property name="transactionManager" ref="transactionModuleManager"/>
                <property name="actionLogManager" ref="actionLogManager"/>
                <property name="switchController" ref="switchController"/>
                <property name="transactionDetailMasterManager" ref="transactionDetailMasterManager"/>
                <property name="productManager" ref="productManager"/>
                <property name="settlementManager" ref="settlementManager"/>
                <property name="phoenixFinancialInstitution" ref="phoenixFinancialInstitution" />
                <property name="bulkDisbursementsFileInfoDAO" ref="bulkDisbursementsFileInfoDAO" />
                <property name="stakeholderBankInfoManager" ref="stakeholderBankInfoManager" />
                <property name="commissionManager" ref="commissionManager"/>
<!--                 <property name="taxManager" ref="taxManager" /> -->
                <property name="encryptionHandler" ref="encryptionHandler"/>
                <property name="accountInfoDao" ref="accountInfoDao"/>
<!--                 <property name="dayendManager" ref="dayendManager"/> -->
                <property name="bBAccountsViewDao" ref="bBAccountsViewDao" />
                <property name="bulkDisbursementThreadConfigMap">
                    <map>
                        <entry key="maxThreadRange" value="70" />
                        <entry key="minThreadRange" value="10" />
                        <entry key="maxTrxChunk" value="300" />
                        <entry key="minTrxChunk" value="50" />
                    </map>
                </property>

                <property name="bulkPaymentThreadConfigMap">
                    <map>
                        <entry key="maxThreadRange" value="70" />
                        <entry key="minThreadRange" value="10" />
                        <entry key="maxTrxChunk" value="300" />
                        <entry key="minTrxChunk" value="50" />
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="bulkDisbursementsFacade" class="com.inov8.microbank.disbursement.service.BulkDisbursementsFacadeImpl">
        <property name="bulkDisbursementsManager" ref="bulkDisbursementsManager" />
        <property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator" />
        <property name="creditAccountQueingPreProcessor" ref="creditAccountQueingPreProcessor"/>
        <property name="stakeholderBankInfoManager" ref="stakeholderBankInfoManager" />
    </bean>

    <bean id="disbursementFileFacede" class="com.inov8.microbank.disbursement.service.DisbursementFileFacadeImpl">
        <property name="smsSender" ref="smsSender"/>
        <property name="bulkDisbursementDAO" ref="bulkDisbursementHibernateDAO"/>
        <property name="disbursementFileInfoViewDAO" ref="disbursementFileInfoViewDAO"/>
        <property name="bulkDisbursementsFileInfoDAO" ref="bulkDisbursementsFileInfoDAO"/>
    </bean>
	
	
	<!-- Bulk to CNIC Account  -->
    <bean id="nonAcHolderDisbursementScheduler" class="com.inov8.microbank.disbursement.job.NonAcHolderDisbursementScheduler">
        <property name="bulkDisbursementsFacade" ref="bulkDisbursementsFacade"/>
        <property name="statusCheckManager" ref="statusCheckManager"/>
    </bean>

    <bean id="bulkPaymentsJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="nonAcHolderDisbursementScheduler" />
		<property name="targetMethod" value="startExecution" />
		<property name="concurrent" value="false" />
    </bean>

    <bean id="bulkPaymentsCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="bulkPaymentsJob" />
        <property name="cronExpression" value="0 0/1 * 1/1 * ? *" />
    </bean>
	
	
	<!-- Bulk to BLB Account  -->
	<bean id="acHolderDisbursementScheduler" class="com.inov8.microbank.disbursement.job.AcHolderDisbursementScheduler">
        <property name="bulkDisbursementsFacade" ref="bulkDisbursementsFacade"/>
        <property name="statusCheckManager" ref="statusCheckManager"/>
    </bean>
	
    <bean id="disbursementJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="acHolderDisbursementScheduler" />
		<property name="targetMethod" value="startExecution" />
		<property name="concurrent" value="false" />
    </bean>

    <bean id="disbursementCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="disbursementJob" />
        <property name="cronExpression" value="0 0/1 * 1/1 * ? *" />
    </bean>
    
</beans>