<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!-- DAO -->

  <bean id="userManagementListViewDAO" class="com.inov8.microbank.server.dao.portal.usermanagementmodule.hibernate.UserManagementListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="goldenNoSequenceGenerator" class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO" init-method="initDao">
    <property name="dataSource" ref="dataSource"/>
    <property name="sequenceName" value="PG_ADMIN_MOBILE_NO_SEQ"/>
  </bean>
  
	<bean id="appUserPartnerGroupDAO" class="com.inov8.microbank.server.dao.appuserpartnergroupmodule.hibernate.AppUserPartnerGroupHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

<!-- Service -->

  <bean id="userManagementManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.portal.usermanagementmodule.UserManagementManagerImpl">
        <property name="userManagementListViewDAO">
          <ref local="userManagementListViewDAO"/>
        </property>
        <property name="actionLogManager" ref="actionLogManager"/>
        <property name="appUserDAO" ref="appUserDAO"/>
        <property name="bankUserDAO" ref="bankUserDAO"/>
        <property name="mnoUserDAO" ref="mnoUserDAO"/>
        <property name="supplierUserDAO" ref="supplierUserDAO"/>
        <property name="operatorUserDAO" ref="operatorUserDAO"/>
        <property name="appUserPartnerGroupDAO" ref="appUserPartnerGroupDAO"/>
        
        <property name="sequenceGenerator" >
        	<ref local="goldenNoSequenceGenerator" />
        </property>
        <property name="mobileNoPrefix" value="0800"></property>
        <property name="jmsProducer" ref="jmsProducer"/>
        <property name="smsSender" ref="smsSender"/>
        <property name="salesHierarchyDAO" ref="salesHierarchyDAO"/>
      </bean>
    </property>

  </bean>
  
<!-- Facade -->

  <bean id="userManagementFacade" class="com.inov8.microbank.server.facade.portal.usermanagementmodule.UserManagementFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="userManagementManager">
      <ref local="userManagementManager"/>
    </property>
     
  </bean>

</beans>

