<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!-- DAO -->

  <bean id="salesHierarchyDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.SalesHierarchyHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
<!--   <bean id="salesHierarchyHistoryDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.SalesHierarchyHistoryHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean> -->

  <bean id="regionalHierarchyDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.RegionalHierarchyHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="distRegHierAssociationDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.DistRegHierAssociationHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="regionDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.RegionHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

	<bean id="bulkAgentUploadDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.BulkAgentUploadHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>

  <bean id="areaLevelDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.AreaLevelHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
	
  <bean id="retailerContactSearchViewDAO" class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.RetailerContactSearchViewHibernateDAO" autowire="byName">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="bulkFranchiseDAO" class="com.inov8.microbank.server.dao.retailermodule.hibernate.BulkFranchiseHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  
   
	<bean id="salesTeamCommissionDAO" class="com.inov8.microbank.server.dao.salesmodule.SalesTeamCommissionHibernateDAO" autowire="byName">
	</bean>

	<bean id="level3AccountsViewDao" class="com.inov8.microbank.server.dao.portal.level3account.hibernate.Level3AccountsViewHibernateDao" autowire="byName"/>
<!-- Service -->

<bean id="keysObj" class="com.inov8.verifly.common.util.ConfigurationContainer" >
<constructor-arg>
  <ref bean="veriflyConfigurationDao"/>
</constructor-arg>   
</bean>

  <bean id="agentHierarchyManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.agenthierarchy.AgentHierarchyManagerImpl" autowire="byName">
        <property name="regionDAO">
          <ref local="regionDAO"/>
        </property>
        <property name="distributorDAO">
          <ref bean="distributorDAO"/>
        </property>
        <property name="keysObj">
          <ref local="keysObj"/>
        </property>
        <property name="bankDAO">
          <ref bean="bankDAO"/>
        </property>
        <property name="mnoDAO">
          <ref bean="mnoDAO"/>
        </property>
        <property name="distributorLevelDAO">
          <ref bean="distributorLevelDAO"/>
        </property>
        <property name="areaLevelDAO">
          <ref bean="areaLevelDAO"/>
        </property>
        <property name="retailerDAO">
          <ref bean="retailerDAO"/>
        </property>
        <property name="areaDAO">
          <ref bean="areaDAO"/>
        </property>
        <property name="productCatalogDAO">
          <ref bean="productCatalogDAO"/>
        </property>
        <property name="partnerGroupDAO">
          <ref bean="partnerGroupDAO"/>
        </property>
        <property name="retailerContactDAO">
          <ref bean="retailerContactDAO"/>
        </property>
        <property name="addressDAO">
          <ref bean="addressDAO"/>
        </property>
        <property name="retailerContactAddressesDAO">
          <ref bean="retailerContactAddressesDAO"/>
        </property>
        <property name="appUserDAO">
          <ref bean="appUserDAO"/>
        </property>
        <property name="appUserPartnerGroupDAO">
          <ref bean="appUserPartnerGroupDAO"/>
        </property>
        <property name="retailerSequenceGenerator">
          <ref bean="retailerSequenceGenerator"/>
        </property>
        <property name="retailerContactSearchViewDAO">
          <ref local="retailerContactSearchViewDAO"/>
        </property>
        <property name="userDeviceAccountsDAO">
          <ref bean="userDeviceAccountsDAO"/>
        </property>
        <property name="smsSender">
          <ref bean="smsSender"/>
        </property>
        <property name="partnerPermissionViewDAO">
          <ref bean="partnerPermissionViewDAO"/>
        </property>
        <property name="bulkFranchiseDAO">
          <ref bean="bulkFranchiseDAO"/>
        </property>
        <property name="financialIntegrationManager">
          <ref bean="financialIntegrationManager"/>
        </property>
        <property name="linkPaymentModeDAO" ref="linkPaymentModeDAO"/>
        <property name="olaVeriflyFinancialInstitution" ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"/>
        <property name="smartMoneyAccountManager">
          <ref bean="smartMoneyAccountManager"/>
        </property>
      </bean>
    </property>
  </bean>

	<bean id="level3AccountManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.level3account.Level3AccountManagerImpl" autowire="byName">
				<property name="olaVeriflyFinancialInstitution" ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"/>
			</bean>
		</property>
	</bean>

	<!-- Facade -->
	<bean id="level3AccountFacade" class="com.inov8.microbank.server.facade.portal.level3account.Level3AccountFacadeImpl" autowire="byName"/>
	



	<bean id="agentTransferRuleDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.AgentTransferRuleHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

  <bean id="agentTaggingDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.AgentTaggingHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="taggedAgentsDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.TaggedAgentsViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="agentTaggingChildrenDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.AgentTaggingChildrenHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="agentGroupChildrenViewDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.AgentGroupChildrenViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="agentTaggingViewDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.AgentTaggingViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
   <bean id="taggedAgentTransactionDetailDAO" class="com.inov8.microbank.server.dao.agentgroup.hibernate.TaggedAgentTransactionDetailHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>


  	<bean id="agentTaggingManager" parent="baseTransactionProxy">
    	<property name="target">
	      	<bean class="com.inov8.microbank.server.service.agentgroup.AgentTaggingManagerImpl" autowire="byName">
				<property name="appUserManager" ref="userManager" />
				<property name="retailerContactManager" ref="retailerFacade" />
              <property name="agentGroupChildrenViewDAO" ref="agentGroupChildrenViewDAO" />
	      	</bean>
    	</property>
  	</bean>

  <bean id="geoLocationDAO" class="com.inov8.microbank.server.dao.geolocationmodule.hibernate.GeoLocationHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="bispCustNadraVerificationDAO" class="com.inov8.microbank.server.dao.bispcustnadraverification.hibernate.BISPCustNadraVerificationHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="retailerContactDAO" class="com.inov8.microbank.server.dao.retailermodule.hibernate.RetailerContactHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
 
</beans>
