<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->

	<bean id="concernListViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernHistoryListViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernHistoryListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernCategoryDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernCategoryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="concernDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	<bean id="concernPartnerAssociationDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernPartnerAssociationHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	<bean id="concernStatusDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernStatusHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	<bean id="concernPriorityDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernPriorityHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernPartnerTypeDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernPartnerTypeHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernPartnerDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernPartnerHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernOpHistoryListViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernOpHistoryListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernsParentListViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernsParentListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="appUserConcernPartnerViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.AppUserConcernPartnerViewHibernateDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="concernInActPartnerViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernInActPartnerViewHibernateDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	

	<bean id="concernPartnersRuleViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernPartnersRuleViewHibernateDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	

	<bean id="concernOpRaisedToListViewDAO" class="com.inov8.microbank.server.dao.portal.concernmodule.hibernate.ConcernOpRaisedToListViewHibernateDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	

	<!-- Service -->

	<bean id="concernManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.concernmodule.ConcernManagerImpl">
				<property name="concernListViewDAO" ref="concernListViewDAO"/>
				<property name="concernHistoryListViewDAO" ref="concernHistoryListViewDAO"/>
				<property name="concernCategoryDAO" ref="concernCategoryDAO"/>
				<property name="concernDAO" ref="concernDAO"/>
				<property name="concernPartnerAssociationDAO" ref="concernPartnerAssociationDAO"/>
				<property name="concernPriorityDAO" ref="concernPriorityDAO"/>
				<property name="concernStatusDAO" ref="concernStatusDAO"/>
				<property name="concernPartnerTypeDAO" ref="concernPartnerTypeDAO"/>
				<property name="concernPartnerDAO" ref="concernPartnerDAO"/>
				<property name="appUserConcernPartnerViewDAO" ref="appUserConcernPartnerViewDAO"/>
				<property name="concernsParentListViewDAO" ref="concernsParentListViewDAO" />
				<property name="concernInActPartnerViewDAO" ref="concernInActPartnerViewDAO" />
				<property name="concernPartnersRuleViewDAO" ref="concernPartnersRuleViewDAO" />
				<property name="concernOpHistoryListViewDAO" ref="concernOpHistoryListViewDAO" />				
				<property name="concernOpRaisedToListViewDAO" ref="concernOpRaisedToListViewDAO" />
			</bean>
		</property>
	</bean>

	<!-- Facade -->

	<bean id="concernFacade" class="com.inov8.microbank.server.facade.portal.concernmodule.ConcernFacadeImpl">
		<property name="concernManager">
			<ref local="concernManager"/>
		</property>
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator"/>
		</property>
	</bean>

</beans>