<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<bean id="deviceSubscriptionReminderDAO" class="com.inov8.microbank.server.dao.mfssubscriptionremindermodule.hibernate.DeviceSubscriptionReminderHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
</bean>
 
	
 	<bean id="deviceSubscriptionReminder" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.inov8.microbank.server.service.mfssubscriptionremindermodule.DeviceSubscriptionReminderSchedular"/>
		<property name="jobDataAsMap">
			<map>
				<entry key="messageSource">
					<ref bean="messageSource"/>
				</entry>
				<entry key="deviceSubscriptionReminderManager">
					<ref bean="deviceSubscriptionReminderManager"/>
				</entry>
				<entry key="smsSender"> 
					<ref bean="smsSender"/>
				</entry>
				<entry key="reminderInterval" value="11,6,2"> 
				</entry>				
			</map>
		</property>	
	</bean>
	
	<bean id="deviceSubscriptionReminderManager" parent="baseTransactionProxy">
	    <property name="target">
    	  <bean class="com.inov8.microbank.server.service.mfssubscriptionremindermodule.DeviceSubscriptionReminderManagerImpl">
        	<property name="deviceSubscriptionReminderDAO">
	          <ref local="deviceSubscriptionReminderDAO"/>
    	    </property>
	       </bean>
    	</property>
  	</bean>
	
	<bean id="cronReminderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="deviceSubscriptionReminder"/>
		</property>
		<property name="cronExpression">
			<value>0 0 10 * * ?</value>
		</property>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronReminderTrigger"/>
			</list>
		</property>
	</bean>

</beans>
