<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="customHibernateInterceptor"
		class="com.inov8.framework.server.hibernate.CustomHibernateInterceptor">
	</bean>

	<util:list id="annotatedClasses">
		<!-- List Table Models Here-->
		<value>com.inov8.microbank.common.model.UserStateModel</value>
		<value>com.inov8.microbank.common.model.UssdMenuModel</value>
		<value>com.inov8.microbank.common.model.UssdMenuMappingModel</value>
		<value>com.inov8.microbank.common.model.CustomInputTypeModel</value>
		<value>com.inov8.microbank.common.model.BlinkCustomerModel</value>
		<value>com.inov8.microbank.common.model.customermodule.BlinkCustomerPictureModel</value>

		<value>
			 com.inov8.microbank.common.model.allpaymodule.DistHeadSummaryViewModel
		</value>
		<value>
			 com.inov8.microbank.common.model.allpaymodule.RegionalHeadSummaryViewModel
		</value>

		<value>
			 com.inov8.microbank.common.model.allpaymodule.RetailerSummaryViewModel
		</value>

		<value>
			 com.inov8.microbank.common.model.allpaymodule.RetailerHeadTransViewModel
		</value>

		<value>
			 com.inov8.microbank.common.model.DistHeadReportListViewModel
		</value>
		<value>
			 com.inov8.microbank.common.model.allpaymodule.RetailerBillSummaryViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.allpaymodule.AllpayRetTransViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.AllpayTransDetListModel
		</value>
		<value>
			com.inov8.microbank.common.model.AllpayForgotVeriflyPinViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.AllpayDeReLinkListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.CommissionRatesListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.AllpayUserInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.SwitchUtilityMappingModel
		</value>

		<value>
			com.inov8.microbank.common.model.productmodule.paymentservice.LescoLogModel
		</value>
		<value>com.inov8.microbank.common.model.ActionModel</value>
		<value>com.inov8.microbank.common.model.ActionLogModel</value>
		<value>com.inov8.microbank.common.model.ActionStatusModel</value>


		<value>com.inov8.microbank.common.model.AppUserModel</value>
		<value>com.inov8.microbank.common.model.AppUserHistoryModel</value>
		<value>com.inov8.microbank.common.model.AppUserHistoryViewModel</value>
		<value>com.inov8.microbank.common.model.AppUserPasswordHistoryModel</value>
		<value>
			com.inov8.microbank.common.model.AppUserMobileHistoryModel
		</value>
		<value>com.inov8.microbank.common.model.AppUserTypeModel</value>
		<value>com.inov8.microbank.app.model.AppModel</value>
		<value>com.inov8.microbank.app.model.AppInfoModel</value>
		<value>com.inov8.microbank.common.model.AppVersionModel</value>
		<value>com.inov8.microbank.common.model.AreaModel</value>
		<value>com.inov8.microbank.common.model.AuditLogModel</value>
		<value>com.inov8.microbank.common.model.BankModel</value>
		<value>com.inov8.microbank.common.model.BankUserModel</value>
		<value>com.inov8.microbank.common.model.CardTypeModel</value>
		<value>com.inov8.microbank.common.model.CardProdCodeModel</value>
		<value>com.inov8.microbank.common.model.CommandModel</value>
		<value>com.inov8.microbank.common.model.CommissionRateModel</value>
		<value>
			com.inov8.microbank.common.model.CommissionReasonModel
		</value>
		<value>
			com.inov8.microbank.common.model.CommissionStakeholderModel
		</value>
		<value>
			com.inov8.microbank.common.model.CommissionTransactionModel
		</value>
		<value>com.inov8.microbank.common.model.CommissionTypeModel</value>
		<value>com.inov8.microbank.common.model.CustomerModel</value>
		<value>com.inov8.microbank.common.model.DeviceTypeModel</value>
		<value>
			com.inov8.microbank.common.model.DeviceTypeCommandModel
		</value>
		<value>com.inov8.microbank.common.model.DispenseTypeModel</value>
		<value>com.inov8.microbank.common.model.DistributorModel</value>
		<value>
			com.inov8.microbank.common.model.DistributorContactModel
		</value>
		<value>
			com.inov8.microbank.common.model.DistributorLevelModel
		</value>
		<value>com.inov8.microbank.common.model.FailureReasonModel</value>
		<value>com.inov8.microbank.common.model.FavoriteNumbersModel</value>
		<value>com.inov8.microbank.common.model.GoldenNosModel</value>
		<value>
			com.inov8.microbank.common.model.IntegrationModuleModel
		</value>
		<value>com.inov8.microbank.common.model.IssueModel</value>
		<value>com.inov8.microbank.common.model.IssueHistoryModel</value>
		<value>com.inov8.microbank.common.model.IssueStatusModel</value>
		<value>com.inov8.microbank.common.model.IssueTypeModel</value>
		<value>com.inov8.microbank.common.model.IssueTypeStatusModel</value>
		<value>com.inov8.microbank.common.model.MessageTypeModel</value>
		<value>com.inov8.microbank.common.model.MnoModel</value>
		<value>com.inov8.microbank.common.model.MnoDialingCodeModel</value>
		<value>com.inov8.microbank.common.model.MnoUserModel</value>
		<value>com.inov8.microbank.common.model.MobileTypeModel</value>
		<value>
			com.inov8.microbank.common.model.NotificationMessageModel
		</value>
		<value>com.inov8.microbank.common.model.OperatorModel</value>
		<value>com.inov8.microbank.common.model.OperatorUserModel</value>
		<value>com.inov8.microbank.common.model.PaymentModeModel</value>
		<value>com.inov8.microbank.common.model.ProductModel</value>
		<value>com.inov8.microbank.common.model.ProductChargesRuleModel</value>
		<value>com.inov8.microbank.common.model.ProductThresholdChargesModel</value>
		<value>com.inov8.microbank.common.model.CommissionThresholdRateModel</value>
		<value>com.inov8.microbank.common.model.CommissionShSharesRuleModel</value>
		<!--<value>com.inov8.microbank.common.model.ProductLimitModel</value>-->
		<value>com.inov8.microbank.common.model.ProductCatalogModel</value>
		<value>
			com.inov8.microbank.common.model.ProductCatalogDetailModel
		</value>
		<value>
			com.inov8.microbank.common.model.ProductIntgModuleInfoModel
		</value>
		<value>com.inov8.microbank.common.model.ProductIntgVoModel</value>
		<value>com.inov8.microbank.common.model.ProductUnitModel</value>
		<value>com.inov8.microbank.common.model.RetailerModel</value>
		<value>com.inov8.microbank.common.model.RetailerContactModel</value>
		<value>com.inov8.microbank.common.model.RetailerTypeModel</value>
		<value>com.inov8.microbank.common.model.ServiceModel</value>
		<value>com.inov8.microbank.common.model.ServiceTypeModel</value>
		<value>com.inov8.microbank.common.model.ShipmentModel</value>
		<value>com.inov8.microbank.common.model.ShipmentTypeModel</value>
		<value>
			com.inov8.microbank.common.model.SmartMoneyAccountModel
		</value>
		<value>
			com.inov8.microbank.common.model.StakeholderBankInfoModel
		</value>
		<value>
			com.inov8.microbank.common.model.BlinkCustomerLimitModel
		</value>
		<value>com.inov8.microbank.common.model.StakeholderTypeModel</value>
		<value>com.inov8.microbank.common.model.SupplierModel</value>
		<value>
			com.inov8.microbank.common.model.SupplierBankInfoModel
		</value>
		<value>com.inov8.microbank.common.model.SupplierUserModel</value>
		<value>com.inov8.microbank.common.model.SwitchModel</value>
		<value>com.inov8.microbank.common.model.SwitchFinderModel</value>
		<value>com.inov8.microbank.common.model.TickerModel</value>
		<value>com.inov8.microbank.common.model.TransactionModel</value>
		<value>com.inov8.microbank.common.model.TransactionCodeModel</value>
		<value>
			com.inov8.microbank.common.model.TransactionDetailModel
		</value>
		<value>com.inov8.microbank.common.model.TransactionTypeModel</value>
		<value>com.inov8.microbank.common.model.UsecaseModel</value>
		<value>
			com.inov8.microbank.common.model.UserDeviceAccountsModel
		</value>

		<value>com.inov8.microbank.common.model.VeriflyModel</value>
		<value>
			com.inov8.microbank.common.model.SupplierProcessingStatusModel
		</value>

		<value>
			com.inov8.microbank.common.model.mnomodule.CustomerDisputeViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.ProductDeviceFlowModel
		</value>
		<value>
			com.inov8.microbank.common.model.DeviceFlowModel
		</value>
		<value>
			com.inov8.microbank.common.model.OperatorBankInfoModel
		</value>

		<value>
			com.inov8.microbank.common.model.LescoCollectionModel
		</value>
		<value>
			com.inov8.microbank.common.model.LescoCollectionModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernCategoryModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernHistoryModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernPartnerAsociationModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernPartnerModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernPartnerTypeModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernPriorityModel
		</value>
		<value>
			com.inov8.microbank.common.model.ConcernStatusModel
		</value>
				<value>
			com.inov8.microbank.common.model.BillServiceLabelModel
		</value>
		<value>
			com.inov8.microbank.common.model.FinancialIntegrationModel
		</value>

		<value>
				com.inov8.microbank.common.model.AppUserPartnerGroupModel
		</value>
		<value>
				com.inov8.microbank.common.model.PartnerPermissionGroupModel
		</value>
		<value>
				com.inov8.microbank.common.model.PermissionGroupModel
		</value>
		<value>
				com.inov8.microbank.common.model.PermissionGroupDetailModel
		</value>
		<value>
				com.inov8.microbank.common.model.UserPermissionModel
		</value>
		<value>
				com.inov8.microbank.common.model.PartnerModel
		</value>
		<value>
				com.inov8.microbank.common.model.PartnerIpAddressModel
		</value>
		<value>
				com.inov8.microbank.common.model.PartnerGroupModel
		</value>
		<value>
				com.inov8.microbank.common.model.PartnerGroupDetailModel
		</value>
		<value>
				com.inov8.microbank.common.model.AccountTypeModel
		</value>
		<value>
				com.inov8.microbank.common.model.CurrencyCodeModel
		</value>
		<value>
				com.inov8.microbank.common.model.VeriflyModeModel
		</value>
		<value>
				com.inov8.microbank.common.model.AgentEarnedComSummaryModel
		</value>
		<value>com.inov8.microbank.common.model.AllpayCommissionTransactionModel</value>
		<value>com.inov8.microbank.common.model.AllpayCommissionRateModel</value>
		<value>com.inov8.microbank.common.model.AllpayCommissionReasonModel</value>

		<value>com.inov8.microbank.common.model.AccountCreditQueueLogModel</value>
		<value>com.inov8.microbank.common.model.MiniHelpKeywordModel</value>
		<value>com.inov8.microbank.common.model.CommissionShAcctsModel</value>
		<value>com.inov8.microbank.common.model.CommissionShAcctsTypeModel</value>
		<value>com.inov8.microbank.common.model.AgentOpeningBalModel</value>
		<value>com.inov8.microbank.common.model.CashBankMappingModel</value>

		<!-- Verifly Models Start Here -->
		<value>com.inov8.verifly.common.model.VfPaymentModeModel</value>
		<value>com.inov8.verifly.common.model.VfActionModel</value>
		<value>com.inov8.verifly.common.model.VeriflyConfigurationModel</value>
		<value>com.inov8.verifly.common.model.AccountInfoModel</value>
		<value>com.inov8.verifly.common.model.VfAccountTypeModel</value>
		<value>com.inov8.verifly.common.model.VfFailureReasonModel</value>
		<value>com.inov8.verifly.common.model.LogModel</value>
		<value>com.inov8.verifly.common.model.LogDetailModel</value>
		<value>com.inov8.verifly.common.model.StatusModel</value>
		<value>com.inov8.verifly.common.model.VfCardTypeModel</value>
		<value>com.inov8.verifly.common.model.VfCurrencyCodeModel</value>
		<!-- Verifly Models end here -->

		<!-- OLA Models Start here -->
		<value>com.inov8.integration.common.model.AccountHolderModel</value>
		<value>com.inov8.integration.common.model.AccountModel</value>
		<value>com.inov8.integration.common.model.LedgerModel</value>
		<value>com.inov8.integration.common.model.ReasonModel</value>
		<value>com.inov8.integration.common.model.OlaStatusModel</value>
		<value>com.inov8.integration.common.model.ResponseCodeModel</value>
		<value>com.inov8.integration.common.model.DailyAccountStatsModel</value>
		<value>com.inov8.integration.common.model.AccountsWithStatsListViewModel</value>
		<value>com.inov8.integration.common.model.AccountsStatsRangeListViewModel</value>
		<value>com.inov8.integration.common.model.OlaCustomerAccountTypeModel</value>
		<value>com.inov8.integration.common.model.OlaTransactionTypeModel</value>
		<value>com.inov8.integration.common.model.LimitTypeModel</value>
		<value>com.inov8.integration.common.model.LimitModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.CustomerBbStatementViewModel</value>
		<!-- OLA Models end here -->


		<!-- List View Models Here-->
		<value>com.inov8.microbank.common.model.portal.agentcashmodule.AgentCashViewModel</value>
		<value>
			com.inov8.microbank.common.model.portal.concernmodule.AppUserConcernPartnerViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.transactionmodule.FetchTransactionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.DiscreteProdUnitListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.mfsaccountmodule.UserInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.mfsaccountmodule.MinorUserInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.changemobilemodule.ChangemobileListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.VarProdShipmentListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.salesmodule.SalesListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.forgotpinmodule.ForgotpinListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.commissionmodule.CommissionReasonListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.customermodule.CustTransListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.distributormodule.DistributorListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.ProductCatalogListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.ProductListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.retailermodule.RetailerCommissionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.retailermodule.RetailerTransactionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.bankmodule.BankListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.distributormodule.DistributorContactListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.suppliermodule.SupplierListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.commissionmodule.CommissionRateListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.inventorymodule.ShipmentListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.inventorymodule.ProductUnitListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.retailermodule.RetailerListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.suppliermodule.SupplierUserListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.bankmodule.BankUserListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.ServiceListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.retailermodule.RetailerContactListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.transactionmodule.TransactionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.veriflymodule.VeriflyListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.appversionmodule.AppVersionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mnomodule.MnoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.areamodule.AreaListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.smartmoneymodule.SmAcctInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.distributormodule.DistributorLevelListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mnomodule.MnoUserListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.ProdCatalogDetailListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.CatalogServiceListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.customermodule.CustomerListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.smartmoneymodule.SmartMoneyAccountListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productmodule.CatalogVersionListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.transactiondetailmodule.TransactionDetailListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.transactiondetailmodule.TransactionSummaryTextViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.esctoinov8module.EscToInov8ViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.forgotveriflypinmodule.ForgotVeriflyPinViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.chargebackmodule.ChargebackListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.servicecustomerdisputemodule.CustDisputeTransListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.servicecustomerdisputemodule.CustDisputeServiceListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.servicecustomerdisputemodule.MnoSupplierListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.servicecustomerdisputemodule.CustDispTranBlPmListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.mnologsmodule.MnologsListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.paymentsmodule.PaymentsListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.productcustomerdisputemodule.CustDispTranVrDcListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.productcustomerdisputemodule.CustDisputeProductListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.supplierescalationmodule.EscToInov8ProductListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.supplierescalationmodule.EscToInov8ServiceListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.portal.issuemodule.IssueHistoryListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.inovtransactiondetailmodule.TransactionDetailPortalListModel
		</value>
		<value>com.inov8.microbank.common.model.commissionmodule.CommissionTransactionViewModel</value>
		<value>
			com.inov8.microbank.common.model.portal.escalateinov8module.EscalateInov8ListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.tickermodule.TickerListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mobilehistorymodule.MobileHistoryListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.issuemodule.TransIssueHistoryListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.commandmodule.CommandListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.auditlogmodule.AuditLogListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.operatormodule.OperatorUserListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.delinkrelinkpaymentmodemodule.DelinkRelinkPaymentModeVieModel
		</value>
		<value>
			com.inov8.microbank.common.model.userdeviceaccountmodule.UserDeviceAccountListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.servicemodule.ServiceTypeListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.devicetypemodule.DeviceTypeListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.retailermodule.RetailerTypeListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.goldennosmodule.GoldenNosListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.suppliermodule.SupplierBankInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.switchmodule.SwitchFinderListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.stakeholdermodule.StakehldBankInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.stakeholdermodule.StakehldAcctMapListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.commissionmodule.CommStakeholderListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.commissionmodule.CommShAcctsListViewModel
		</value>

		<value>
			com.inov8.microbank.common.model.switchmodule.SwitchListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mnomodule.MnoDialingCodeListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.veriflymodule.VeriflyFormListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.actionlogmodule.ActionLogListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.escalateinov8module.IssueStatRefDataListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.usermanagementmodule.UserManagementListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.appversionmodule.AppUserFormListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.distributormodule.ManagingContactListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.favoritenumbermodule.FavoriteNumberListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.appusermodbilehistorymodule.AppUserMobHistoryListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.notificationmessagemodule.NotificationMessageListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.portal.changeaccnickmodule.ChangeAccountNickListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.transactiondetailinfomodule.AllpayTransInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.transactiondetailinfomodule.TransactionDetInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.creditmodule.CreditInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.productdeviceflowmodule.ProductDeviceFlowListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.operatorbankmodule.OperatorBankInfoListViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mfssubscriptionremindermodule.DeviceSubReminderViewModel
		</value>
		<value>
			com.inov8.microbank.common.model.mnosearchusermodule.MnoSearchMfsUsrListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernHistoryListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernOpHistoryListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernsParentListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernInActPartnerViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernPartnersRuleViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.concernmodule.ConcernOpRaisedToListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.financialintegrationmodule.FinancialIntgListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.usergroupmodule.UserPermissionViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.partnergroupmodule.PartnerGroupListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.partnergroupmodule.GroupPermissionViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.partnergroupmodule.PartnerPermissionViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.portal.partnergroupmodule.AppUserPartnerViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.smartmoneymodule.LinkedAccountsListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.transactionmodule.SalesSummaryListViewModel
		</value>
		<value>
				com.inov8.microbank.common.model.MiniCommandLogModel
		</value>
		<value>
				com.inov8.microbank.common.model.MiniCommandKeywordModel
		</value>
		<value>
				com.inov8.microbank.common.model.MiniTransactionModel
		</value>
		<value>
				com.inov8.microbank.common.model.MiniTransactionStateModel
		</value>
		<value>com.inov8.microbank.common.model.portal.bbcustomers.BbCustomerAccountsViewModel</value>
		<value>com.inov8.microbank.common.model.NatureOfBusinessModel</value>
		<value>com.inov8.microbank.common.model.RetailerContactAddressesModel</value>
		<value>com.inov8.microbank.common.model.AddressModel</value>
		<value>com.inov8.microbank.common.model.AddressTypeModel</value>
		<value>com.inov8.microbank.common.model.CityModel</value>
		<value>com.inov8.microbank.common.model.CountryModel</value>
		<value>com.inov8.microbank.common.model.CustomerAddressesModel</value>
		<value>com.inov8.microbank.common.model.CustomerTypeModel</value>
		<value>com.inov8.microbank.common.model.DistrictModel</value>
		<value>com.inov8.microbank.common.model.FundSourceModel</value>
		<value>com.inov8.microbank.common.model.LanguageModel</value>
		<value>com.inov8.microbank.common.model.PostalOfficeModel</value>
		<value>com.inov8.microbank.common.model.SegmentModel</value>
		<value>com.inov8.microbank.common.model.CommissionShSharesModel</value>
		<value>com.inov8.microbank.common.model.BulkDisbursementsModel</value>
		<value>com.inov8.microbank.common.model.minitransactionmodule.MiniTransactionViewModel</value>
		<value>com.inov8.microbank.common.model.portal.transactiondetailmodule.TransactionAllViewModel</value>
		<value>com.inov8.microbank.common.model.portal.transactiondetailmodule.TransactionCashReversalViewModel</value>
		<value>com.inov8.microbank.common.model.WalkinCustomerModel</value>
		<value>com.inov8.microbank.common.model.portal.walkincustomermodule.WalkInCustomerViewModel</value>
		<value>com.inov8.microbank.common.model.FranchiseCommissionViewModel</value>
		<value>com.inov8.microbank.common.model.HolidayModel</value>
		<value>com.inov8.microbank.common.model.ComplaintHistoryModel</value>
		<value>com.inov8.microbank.common.model.ComplaintModel</value>
		<value>com.inov8.microbank.common.model.ComplaintSubcategoryModel</value>
		<value>com.inov8.microbank.common.model.ComplaintSubcategoryViewModel</value>
		<value>com.inov8.microbank.common.model.ComplaintCategoryModel</value>
		<value>com.inov8.microbank.common.model.ComplaintParameterModel</value>
		<value>com.inov8.microbank.common.model.ComplaintParamValueModel</value>
		<value>com.inov8.microbank.common.model.ComplaintReportModel</value>
		<value>com.inov8.microbank.common.model.portal.complaint.ComplaintHistoryViewModel</value>
		<value>com.inov8.microbank.common.model.postedrransactionreportmodule.PostedTransactionReportModel</value>
		<value>com.inov8.microbank.common.model.postedrransactionreportmodule.IntgTransactionTypeModel</value>
		<value>com.inov8.microbank.common.model.postedrransactionreportmodule.PostedTransactionViewModel</value>
		<value>com.inov8.microbank.common.model.postedrransactionreportmodule.PostedTransactionNadraViewModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.RegionModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.AreaLevelModel</value>
		<value>com.inov8.microbank.common.model.portal.financereportsmodule.AgentClosingBalanceViewModel</value>
		<value>com.inov8.microbank.common.model.portal.financereportsmodule.CustomerClosingBalanceViewModel</value>
		<value>com.inov8.microbank.common.model.portal.financereportsmodule.CustomerBalanceReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.financereportsmodule.CommissionSummaryReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.SettlementBbStatementViewModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.BbStatementAllViewModel</value>
		<value>com.inov8.microbank.common.model.retailermodule.RetailerContactSearchViewModel</value>
		<value>com.inov8.microbank.common.model.TransactionLogModel</value>
		<value>com.inov8.microbank.common.model.portal.retailertransactionmodule.RetailerTransactionViewModel</value>
		<value>com.inov8.microbank.common.model.portal.agentreportsmodule.AgentTransactionDetailViewModel</value>
		<value>com.inov8.microbank.common.model.portal.agentreportsmodule.AgentTransactionSummaryViewModel</value>
		<value>com.inov8.microbank.common.model.portal.agentreportsmodule.BbAccountsByAgentsViewModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.BulkAgentUploadReportModel</value>
		<value>com.inov8.microbank.common.model.BulkFranchiseModel</value>
		<value>com.inov8.microbank.common.model.commissionmodule.CommissionShSharesViewModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.OlaCustomerTxLimitViewModel</value>
		<value>com.inov8.microbank.common.model.TopupSchedulerExecModel</value>
		<value>com.inov8.microbank.common.model.portal.collectionpaymentsmodule.CollectionPaymentsViewModel</value>
		<value>com.inov8.microbank.common.model.portal.inovtransactiondetailmodule.MiniStatementListViewModel</value>
		<value>com.inov8.microbank.common.model.AgentDailyTxStatsViewModel</value>
		<value>com.inov8.microbank.common.model.AgentMonthlyTxStatsViewModel</value>
		<value>com.inov8.microbank.common.model.TransactionSummaryModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.AgentBBStatementViewModel</value>
		<value>com.inov8.microbank.common.model.FranchiseAccountDetailViewModel</value>
		<value>com.inov8.microbank.common.model.SettlementSchedulerModel</value>
		<value>com.inov8.microbank.common.model.SettlementTransactionModel</value>
		<value>com.inov8.microbank.common.model.SettlementTransactionDetailModel</value>
		<value>com.inov8.microbank.common.model.MessageQueueLogModel</value>

		<value>com.inov8.microbank.common.model.CommissionShSharesDefaultModel</value>
		<value>com.inov8.microbank.common.model.CommissionRateDefaultModel</value>
		<value>com.inov8.microbank.common.model.AgentNeworkCommShareModel</value>

		<value>com.inov8.microbank.common.model.VelocityRuleModel</value>
		<value>com.inov8.microbank.common.model.velocitymodule.VelocityRuleViewModel</value>

		<value>com.inov8.microbank.common.model.OperatingHoursRuleModel</value>

		<value>com.inov8.microbank.common.model.portal.financereportsmodule.CustomerBalanceReportSummaryModel</value>
		<value>com.inov8.microbank.common.model.AlertsRecipientsModel</value>
		<value>com.inov8.microbank.common.model.AlertsConfigModel</value>
		<value>com.inov8.microbank.common.model.portal.inovtransactiondetailmodule.DateWiseTxSummaryModel</value>
		<value>com.inov8.microbank.common.model.minitransactionmodule.TransactionCodeHistoryViewModel</value>
		<value>com.inov8.microbank.common.model.usecasemodule.UsecaseLevelModel</value>
		<value>com.inov8.microbank.common.model.usecasemodule.LevelCheckerModel</value>
		<value>com.inov8.microbank.common.model.portal.authorizationmodule.ActionAuthorizationModel</value>
		<value>com.inov8.microbank.common.model.portal.authorizationmodule.ActionAuthorizationHistoryModel</value>
		<value>com.inov8.microbank.common.model.TransactionDetailMasterModel</value>
		<value>com.inov8.microbank.common.model.BulkDisbursementsViewModel</value>
		<value>com.inov8.microbank.common.model.PaymentTypeModel</value>
		<value>com.inov8.microbank.disbursement.model.BulkPaymentViewModel</value>
		<value>com.inov8.microbank.common.model.productmodule.CategoryModel</value>
		<value>com.inov8.microbank.common.model.productmodule.MenuLevelModel</value>
		<value>com.inov8.microbank.common.model.LimitRuleModel</value>
		<value>com.inov8.microbank.common.model.customermodule.CustomerPictureModel</value>
		<value>com.inov8.microbank.common.model.customermodule.PictureTypeModel</value>
		<value>com.inov8.microbank.common.model.RegistrationStateModel</value>
		<value>com.inov8.microbank.common.model.ManualAdjustmentModel</value>
		<value>com.inov8.microbank.common.model.SmsLogModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.RegionalHierarchyModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.DistRegHierAssociationModel</value>
		<value>com.inov8.microbank.common.model.SmsLogModel</value>
		<value>com.inov8.microbank.common.model.AccountPurposeModel</value>
		<value>com.inov8.microbank.common.model.TransactionModeModel</value>
		<value>com.inov8.microbank.common.model.BusinessTypeModel</value>
		<!-- added by atif hussain -->
		<value>com.inov8.microbank.common.model.ProductLimitRuleModel</value>
		<value>com.inov8.microbank.common.model.portal.mfsaccountmodule.BusinessDetailModel</value>
		<value>com.inov8.microbank.common.model.portal.mfsaccountmodule.ApplicantDetailModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.DistributorCommissionShareModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.DistributorCommissionShareDetailModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.DistributorCommShareViewModel</value>
		<value>com.inov8.microbank.common.model.agenthierarchy.SalesHierarchyModel</value>
		<value>com.inov8.microbank.common.model.productmodule.ProductLimitRuleViewModel</value>
		<value>com.inov8.microbank.common.model.OccupationModel</value>
		<value>com.inov8.microbank.common.model.AccountReasonModel</value>
		<value>com.inov8.microbank.common.model.portal.salesmodule.SalesTeamComissionViewModel</value>
		<value>com.inov8.microbank.common.model.portal.level3account.Level3AccountsViewModel</value>
		<value>com.inov8.microbank.common.model.AccountStateModel</value>
		<value>com.inov8.microbank.common.model.SettlementTransactionViewModel</value>
		<value>com.inov8.microbank.common.model.SettlementTransactionDetailViewModel</value>
		<value>com.inov8.microbank.common.model.portal.ola.BBSettlementAccountsViewModel</value>
		<value>com.inov8.microbank.common.model.BBAccountsViewModel</value>
		<value>com.inov8.microbank.common.model.HandlerModel</value>
		<value>com.inov8.microbank.common.model.retailermodule.HandlerSearchViewModel</value>
		<value>com.inov8.microbank.common.model.portal.agentreportsmodule.HandlerTransactionDetailViewModel</value>
		<value>com.inov8.integration.common.model.AccountTypeViewModel</value>
		<value>com.inov8.microbank.common.model.MiddlewareRetryAdviceModel</value>
 		<value>com.inov8.microbank.common.model.portal.authorizationmodule.ActionAuthPictureModel</value>
 		<value>com.inov8.microbank.common.model.agenthierarchy.SalesHierarchyHistoryModel</value>
 		<value>com.inov8.microbank.common.model.IBFTRetryAdviceModel</value>
 		<value>com.inov8.microbank.common.model.IBFTRetryAdviceListViewModel</value>
 		<!-- added by atif hussain -->
 		<value>com.inov8.microbank.common.model.RetryAdviceListSummaryViewModel</value>
 		<value>com.inov8.microbank.common.model.RetryAdviceListHistoryViewModel</value>
 		<value>com.inov8.microbank.common.model.CustomerFundSourceModel</value>
 		<value>com.inov8.microbank.common.model.portal.financereportsmodule.SettlementClosingBalanceViewModel</value>
 		<value>com.inov8.microbank.common.model.AgentMerchantDetailModel</value>
 		<value>com.inov8.microbank.common.model.AgentRelationshipTypeModel</value>
 		<value>com.inov8.microbank.common.model.AgentTypeModel</value>
 		<value>com.inov8.microbank.common.model.KYCModel</value>
 		<value>com.inov8.microbank.common.model.CustomerAccountTypeModel</value>
 		<value>com.inov8.microbank.common.model.ProfessionModel</value>
 		<value>com.inov8.microbank.common.model.ApplicantTxModeModel</value>
 		<value>com.inov8.microbank.common.model.ACOwnershipDetailModel</value>
 		<value>com.inov8.microbank.common.model.BusinessNatureModel</value>
 		<value>com.inov8.microbank.common.model.LocationTypeModel</value>
 		<value>com.inov8.microbank.common.model.LocationSizeModel</value>
		<value>com.inov8.microbank.common.model.TaxRegimeModel</value>
		<value>com.inov8.microbank.common.model.AccountNature</value>
		<value>com.inov8.microbank.common.model.AgentMerchantDetailViewModel</value>
		<value>com.inov8.microbank.common.model.P2PDetailModel</value>
		<value>com.inov8.microbank.common.model.RetryCreditQueueViewModel</value>
		<value>com.inov8.microbank.common.model.portal.reportmodule.CommissionTransactionWHListViewModel</value>
		<value>com.inov8.microbank.common.model.portal.reportmodule.WHTAgentReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.reportmodule.WHTStakeholderViewModel</value>
		<value>com.inov8.microbank.common.model.portal.reportmodule.FedBreakupDetailListViewModel</value>
		<value>com.inov8.microbank.common.model.portal.reportmodule.CashTransReportViewModel</value>
		<value>com.inov8.microbank.common.model.RootedMobileHistoryModel</value>
		<value>com.inov8.microbank.common.model.SafRepoModel</value>
		<value>com.inov8.microbank.common.model.WalletSafRepoModel</value>
		<value>com.inov8.microbank.common.model.SafRepoCoreModel</value>
		<value>com.inov8.microbank.common.model.DistributorLvlRetContactViewModel</value>
		<value>com.inov8.microbank.demographics.model.DemographicsModel</value>
		<value>com.inov8.microbank.common.model.FailedSmsModel</value>
		<value>com.inov8.microbank.common.model.AgentTaggingModel</value>
		<value>com.inov8.microbank.common.model.AgentTaggingChildrenModel</value>
		<value>com.inov8.microbank.common.model.portal.agentgroup.AgentTaggingViewModel</value>
		<value>com.inov8.microbank.common.model.AgentTransferRuleModel</value>
		<value>com.inov8.microbank.common.model.UnsettledAgentCommModel</value>
		<value>com.inov8.microbank.common.model.portal.transactiondetailmodule.SenderRedeemViewModel</value>
		<value>com.inov8.microbank.common.model.portal.transactiondetailmodule.CashTransactionViewModel</value>
		<value>com.inov8.microbank.common.model.veriflymodule.TaggedAgentsListViewModel</value>
		<value>com.inov8.microbank.common.model.veriflymodule.TaggedAgentTransactionModel</value>
		<value>com.inov8.microbank.common.model.portal.bulkdisbursements.BulkManualAdjustmentModel</value>
		<value>com.inov8.microbank.webapp.action.portal.manualadjustmentmodule.BulkManualAdjustmentVOModel</value>
		<value>com.inov8.microbank.disbursement.vo.BulkDisbursementsVOModel</value>
		<value>com.inov8.microbank.disbursement.model.DisbursementFileInfoViewModel</value>
		<value>com.inov8.microbank.disbursement.model.BulkDisbursementsFileInfoModel</value>

		<value>com.inov8.microbank.tax.model.FEDRuleModel</value>
		<value>com.inov8.microbank.tax.vo.WHTConfigVo</value>
		<value>com.inov8.microbank.tax.model.WHTConfigModel</value>
		<value>com.inov8.microbank.tax.vo.FedRuleManagementVO</value>
		<value>com.inov8.microbank.tax.vo.WHTExemptionVO</value>
		<value>com.inov8.microbank.tax.vo.WHTConfigWrapper</value>
		<value>com.inov8.microbank.tax.model.WHTExemptionModel</value>
		<value>com.inov8.microbank.tax.model.WHTExemptionListViewModel</value>
		<value>com.inov8.microbank.tax.model.DateWiseUserWHTAmountViewModel</value>
		<value>com.inov8.microbank.tax.model.DailyWhtDeductionModel</value>
		<value>com.inov8.microbank.tax.model.WHTTrxViewModel</value>
		<value>com.inov8.microbank.tax.model.FEDRuleViewModel</value>

		<value>com.inov8.microbank.common.model.AccountOpeningMethodModel</value>
		<value>com.inov8.microbank.common.model.ReTagMobileCnicHistoryModel</value>
		<value>com.inov8.microbank.account.model.BlacklistMarkingViewModel</value>
		<value>com.inov8.microbank.account.model.BlacklistedCnicsViewModel</value>
		<value>com.inov8.microbank.account.model.BlacklistedCnicsModel</value>
		<value>com.inov8.microbank.tax.model.WHTDeductionSchedularStatusModel</value>
		<value>com.inov8.microbank.account.model.BlacklistMarkUnmarkHistoryModel</value>
		<value>com.inov8.microbank.common.model.tax.WHTSummaryViewModel</value>
		<value>com.inov8.microbank.common.model.tax.FedDetailedReportModel</value>
		<value>com.inov8.microbank.common.model.tax.WhtDetailedReportModel</value>
		<value>com.inov8.microbank.fonepay.model.VirtualCardModel</value>
		<value>com.inov8.microbank.fonepay.model.VirtualCardReportModel</value>
		<value>com.inov8.microbank.fonepay.common.FonePayLogModel</value>
		<value>com.inov8.microbank.fonepay.model.PinRetryModel</value>

		<value>com.inov8.microbank.faq.model.FaqCatalogModel</value>
		<value>com.inov8.microbank.faq.model.FaqCatalogDetailViewModel</value>

		<value>com.inov8.microbank.nadraVerisys.model.VerisysDataModel</value>
		<value>com.inov8.microbank.fonepay.model.FonePayTransactionDetailViewModel</value>
		<value>com.inov8.microbank.common.model.GeoLocationModel</value>
		<value>com.inov8.microbank.common.model.BISPCustNadraVerificationModel</value>
        <value>com.inov8.microbank.common.model.AdsModel</value>
        <value>com.inov8.microbank.common.model.AdTypeModel</value>
        <value>com.inov8.microbank.common.model.AdLocationModel</value>
        <value>com.inov8.microbank.common.model.CustomerRemitterModel</value>
        <value>com.inov8.microbank.common.model.tax.TargetedWhtDetailReportModel</value>

		<value>com.inov8.microbank.common.model.SafRepoCashOutModel</value>
		<value>com.inov8.microbank.common.model.ThirdPartyRetryAdviceModel</value>
		<value>com.inov8.microbank.common.model.ApiCityModel</value>
		<!-- Debit Card Model-->
		<value>com.inov8.microbank.debitcard.model.DebitCardMailingAddressModel</value>
		<value>com.inov8.microbank.debitcard.model.DebitCardModel</value>
		<value>com.inov8.microbank.cardconfiguration.model.CardStateModel</value>
		<value>com.inov8.microbank.cardconfiguration.model.CardStatusModel</value>
		<value>com.inov8.microbank.debitcard.model.DebitCardViewModel</value>
		<value>com.inov8.microbank.debitcard.model.DebitCardRequestsViewModel</value>
		<value>com.inov8.microbank.debitcard.model.DebitCardExportDataViewModel</value>

		<!-- SCO and Agent Network-->
		<value>com.inov8.microbank.common.model.BulkAgentDataHolderModel</value>

		<value>com.inov8.microbank.account.model.BlackListedNicHistoryViewModel</value>
		<value>com.inov8.microbank.account.model.WalkInBlackListedNicViewModel</value>
		<value>com.inov8.microbank.account.model.ExpiredNicViewModel</value>

		<!-- HRA/Debit_Card Phase-2 -->
		<value>com.inov8.microbank.mobilenetworks.model.MobileNetworkModel</value>
		<value>com.inov8.microbank.hra.paymtnc.model.PayMtncRequestModel</value>
		<value>com.inov8.microbank.hra.airtimetopup.model.HRARemitanceInfoModel</value>

		<value>com.inov8.microbank.hra.airtimetopup.model.RateTypeModel</value>
		<value>com.inov8.microbank.hra.airtimetopup.model.ConversionRateModel</value>
		<value>com.inov8.microbank.hra.airtimetopup.model.AirTimeTopViewModel</value>
		<value>com.inov8.microbank.hra.airtimetopup.model.AirTimeTopViewModel</value>

		<value>com.inov8.microbank.cardconfiguration.model.CardFeeTypeModel</value>
		<value>com.inov8.microbank.cardconfiguration.model.CardFeeRuleModel</value>
<!--		<value>com.inov8.microbank.cardconfiguration.model.CardFeeRuleInstallmentModel</value>-->

		<value>com.inov8.microbank.common.model.TransactionReversalModel</value>
		<value>com.inov8.microbank.common.model.AgentGroupChildrenViewModel</value>
		<value>com.inov8.microbank.common.model.TransactionPurposeModel</value>
		<value>com.inov8.microbank.common.model.BankSegmentsModel</value>
		<value>com.inov8.microbank.common.model.ThirdPartyAccountOpeningModel</value>
		<value>com.inov8.microbank.common.model.ThirdPartyAccountOpeningViewModel</value>
		<value>com.inov8.microbank.common.model.portal.bookmemodule.BookMeTransactionDetailViewModel</value>
		<value>com.inov8.microbank.common.model.portal.bookmemodule.BookMeTransactionDetaili8ViewModel</value>
		<value>com.inov8.microbank.common.model.BOPCardIssuanceViewModel</value>
		<value>com.inov8.microbank.common.model.BOPCardIssuanceModel</value>
		<value>com.inov8.microbank.common.model.schedulemodule.ScheduleLoanPaymentModel</value>
		<value>com.inov8.microbank.common.model.schedulemodule.ScheduleLoanPaymentDetailModel</value>
		<value>com.inov8.microbank.common.model.RegisteredConsumerModel</value>
		<value>com.inov8.microbank.common.model.bankmodule.MemberBankModel</value>
		<value>com.inov8.microbank.common.model.portal.inovtransactiondetailmodule.BispTransactionDetailViewModel</value>
		<value>com.inov8.microbank.common.model.productmodule.paymentservice.BookMeLog</value>
		<value>com.inov8.microbank.common.model.veriflymodule.DebitCardChargesSafRepoModel</value>
		<value>com.inov8.microbank.common.model.CardProdCodeModel</value>
		<value>com.inov8.microbank.common.model.agentsegmentrestrictionmodule.AgentSegmentRestriction</value>
		<value>com.inov8.microbank.common.model.AccountOpeningPendingSafRepoModel</value>
		<value>com.inov8.microbank.common.model.DebitCardPendingSafRepo</value>
		<value>com.inov8.microbank.common.model.AccountOpeningPendingSafRepoVeiwModel</value>
		<value>com.inov8.microbank.common.model.AdvanceSalaryLoanModel</value>
		<value>com.inov8.microbank.common.model.AgentBvsStatModel</value>
		<value>com.inov8.microbank.common.model.SalariedAccountProfitModel</value>
		<value>com.inov8.microbank.common.model.BlinkCustomerLimitModel</value>
		<value>com.inov8.microbank.common.model.BlinkCustomerModel</value>
		<value>com.inov8.microbank.common.model.customermodule.BlinkCustomerPictureModel</value>
		<value>com.inov8.microbank.common.model.portal.digidormancyaccountmodule.DigiDormancyAccountViewModel</value>
		<value>com.inov8.microbank.common.model.AgentLocationStatModel</value>
		<value>com.inov8.microbank.common.model.ClsPendingBlinkCustomerModel</value>
		<value>com.inov8.microbank.common.model.ClsPendingAccountOpeningModel</value>
		<value>com.inov8.microbank.common.model.ClsDebitCreditBlockModel</value>
		<value>com.inov8.microbank.updatecustomername.model.UpdateCustomerNameModel</value>

		<value>com.inov8.microbank.common.model.BlinkCustomerRegistrationStateModel</value>
		<value>com.inov8.microbank.common.model.ClsPendingBlinkCustomerModel</value>
		<value>com.inov8.microbank.common.model.ClsCaseStatusModel</value>

		<value>com.inov8.integration.common.model.BlinkDefaultLimitModel</value>
		<value>com.inov8.microbank.common.model.BillPaymentsDueDateModel</value>
		<value>com.inov8.microbank.common.model.AmaBvsConfigurationsModel</value>
		<value>com.inov8.microbank.common.model.portal.bulkdisbursements.BulkAutoReversalModel</value>
		<value>com.inov8.microbank.common.model.VCFileModel</value>
		<value>com.inov8.microbank.common.model.VCFileReportModel</value>
		<value>com.inov8.microbank.common.model.FilerRateConfigModel</value>
		<value>com.inov8.microbank.common.model.OfflineBillersConfigModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.BdeKpiReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.DebitCardChargesViewModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.HandlerActivityReportModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.AgentParentChildReportModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.DormancyReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.AccountDormancyReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.blbreports.CnicExpiredViewModel</value>
		<value>com.inov8.microbank.fonepay.model.EcofinSubAgentModel</value>
		<value>com.inov8.microbank.common.model.MerchantDiscountCardModel</value>
		<value>com.inov8.microbank.common.model.portal.blbnewreports.DigiDebitCardAnnualReportViewModel</value>
		<value>com.inov8.microbank.common.model.portal.blbnewreports.DigiPostedRdvReportViewModel</value>
		<value>com.inov8.microbank.common.model.IVRMpinVerificationViewModel</value>
		<value>com.inov8.microbank.common.model.TasdeeqDataModel</value>
		<value>com.inov8.microbank.common.model.MerchantAccountModel</value>
		<value>com.inov8.microbank.common.model.customermodule.MerchantAccountPictureModel</value>
		<value>com.inov8.microbank.common.model.ZongBalanceUpdateModel</value>



	</util:list>

</beans>
