<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


    <bean id="pendingAccountOpeningDAO"
          class="com.inov8.microbank.server.service.pendingaccountopeningmodule.dao.hibernate.PendingAccountOpeningHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>



    <bean id="pendingDebitCardSafRepoDAO"
          class="com.inov8.microbank.server.service.pendingaccountopeningmodule.dao.hibernate.PendingDebitCardSafRepoHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="pendingAccountOpeningSafRepoSearchDAO"
          class="com.inov8.microbank.server.service.pendingaccountopeningmodule.dao.hibernate.PendingAccountOpeningSafRepoSearchHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>

    </bean>

    <!--======================================= Manager ===========================================-->
    <bean id="pendingAcountOpeningManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.server.service.pendingaccountopeningmodule.PendingAccountOpeningManagerImpl">
                <property name="pendingAccountOpeningDAO">
                    <ref local="pendingAccountOpeningDAO"/>
                </property>

                <property name="pendingDebitCardSafRepoDAO">
                    <ref local="pendingDebitCardSafRepoDAO"/>
                </property>
                <property name="messageSource" ref="messageSource"></property>

                <property name="appUserDAO" ref="userDao"></property>
                <property name="appInfoDAO" ref="appInfoDAO"></property>


            </bean>
        </property>
    </bean>
</beans>