<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="ivrRequestHandler" class="com.inov8.microbank.ivr.IvrRequestHandler">
		<property name="actionLogManager"  ref="actionLogManager"/>
		<property name="messageSource" ref="messageSource"/>
 		<!--<property name="service" ref="ivrWebService"/> -->
	</bean>

    <!--<bean id="ivrWebService" class="com.inov8.microbank.server.webserviceclient.ivr.IvrWebServiceImplService"/>-->
</beans>