<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->
	<bean id="commissionTransactionViewDao" class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionTransactionViewHibernateDao" autowire="byName"/>

	<bean id="commissionRateListViewDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionRateListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="agentCommissionSummaryDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.AgentCommissionSummaryHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="commissionRateDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionRateHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="commissionReasonListViewDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionReasonListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="commissionReasonDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionReasonHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="commissionStakeholderDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionStakeholderHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--Comments-->
	<bean id="commissionTransactionDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionTransactionHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="commissionShSharesDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionShSharesHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="commissionShSharesViewDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionShSharesViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="franchiseCommissionDAO" 
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.FranchiseCommissionViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="commissionShSharesDefaultDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionShSharesDefaultHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="commissionRateDefaultDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.CommissionRateDefaultHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="agentNetworkCommShareDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.AgentNetworkCommShareHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- added by atif hussain -->
	<bean id="distributorCommissionShareDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.DistributorCommissionShareHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorCommissionShareDetailDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.DistributorCommissionShareDetailHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- end added by atif hussain -->
	
	<bean id="distributorCommShareViewDAO"
		class="com.inov8.microbank.server.dao.agenthierarchymodule.hibernate.DistributorCommShareViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="unsettledAgentCommDAO"
		class="com.inov8.microbank.server.dao.commissionmodule.hibernate.UnsettledAgentCommHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Service -->


	<!--<bean id="dayEndCommission" parent="baseTransactionProxy"> <property 
		name="target"> -->
	<bean id="dayEndCommission"
		class="com.inov8.microbank.server.service.dailyjob.CommissionDayEndSchedulerImpl">
		<property name="stakeholderDAO" ref="commissionStakeholderDAO"></property>
		<property name="commissionTransactionHibernateDAO" ref="commissionTransactionDAO"></property>
		<property name="switchController" ref="switchController"></property>
		<property name="stakeholderBankInfoManager" ref="stakeholderBankInfoManager"></property>
		<property name="olaVeriflyFinancialInstitution"
			ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"></property>
		<property name="appUserManager" ref="userManager"></property>
		<property name="smartMoneyAccountManager" ref="smartMoneyAccountManager"></property>
		<property name="transactionCodeGenerator" ref="transactionCodeGenerator"></property>
		<property name="transactionManager" ref="transactionModuleManager"></property>
		<property name="actionLogManager" ref="actionLogManager"></property>
		<property name="supplierBankInfoManager" ref="supplierFacade" />

	</bean>

	<bean id="franchiseCommission"
		class="com.inov8.microbank.server.service.dailyjob.FranchiseCommissionSchedulerImpl">
		<property name="stakeholderDAO" ref="commissionStakeholderDAO"></property>
		<property name="commissionTransactionHibernateDAO" ref="commissionTransactionDAO"></property>
		<property name="franchiseCommissionHibernateDAO" ref="franchiseCommissionDAO"></property>
		<property name="switchController" ref="switchController"></property>
		<property name="stakeholderBankInfoManager" ref="stakeholderBankInfoManager"></property>
		<property name="olaVeriflyFinancialInstitution"
			ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"></property>
		<property name="appUserManager" ref="userManager"></property>
		<property name="smartMoneyAccountManager" ref="smartMoneyAccountManager"></property>
		<property name="transactionCodeGenerator" ref="transactionCodeGenerator"></property>
		<property name="transactionManager" ref="transactionModuleManager"></property>
		<property name="actionLogManager" ref="actionLogManager"></property>


	</bean>

	<bean id="zongTopup"
		class="com.inov8.microbank.server.service.dailyjob.TopupSchedulerImpl">
		<property name="transactionHibernateDAO" ref="transactionDAO"></property>
		<property name="switchController" ref="switchController"></property>
		<property name="stakeholderBankInfoManager" ref="stakeholderBankInfoManager"></property>
		<property name="topupManager" ref="topupManager"></property>
		<property name="transactionManager" ref="transactionModuleManager"></property>
		<property name="postedTransactionReportFacade" ref="postedTransactionReportFacade"></property>
	</bean>

	<bean id="commissionTransactionViewManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.commissionmodule.CommissionTransactionViewManagerImpl" autowire="byName">
			</bean>
		</property>
	</bean>

	<bean id="commissionManager" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.commissionmodule.CommissionManagerImpl">
				<property name="commissionRateDAO">
					<ref local="commissionRateDAO" />
				</property>
				<property name="commissionShSharesDAO">
					<ref local="commissionShSharesDAO" />
				</property>
				<property name="commissionTransactionDAO">
		          <ref local="commissionTransactionDAO"/>
		        </property>
		        	<property name="agentCommissionSummaryDAO">
		          <ref local="agentCommissionSummaryDAO"/>
		        </property>
		        <property name="commissionStakeholderManager">
		          <ref bean="commissionStakeholderManager"/>
		        </property>
		        <property name="commissionRateDefaultDAO">
					<ref local="commissionRateDefaultDAO" />
				</property>
				<property name="agentNetworkCommShareManager">
					<ref local="agentNetworkCommShareManager" />
				</property>
				<property name="settlementManager">
          			<ref bean="settlementFacade"/>
        		</property>
		        <property name="commissionTransactionHibernateDAO" ref="commissionTransactionDAO"></property>
		        <property name="productManager" ref="productManager"></property>
				<property name="unsettledAgentCommDAO">
					<ref local="unsettledAgentCommDAO"/>
		        </property>
		        <property name="userDeviceAccountsDAO">
					<ref bean="userDeviceAccountsDAO" />
				</property>
		        <property name="taxManager">
					<ref bean="taxManager" />
				</property>
				<property name="commissionStakeholderDAO">
					<ref bean="commissionStakeholderDAO" />
				</property>
				<property name="commissionThresholdRateDAO">
					<ref bean="commissionThresholdRateDAO" />
				</property>

			</bean>
		</property>
	</bean>

	<bean id="allpayCommissionManager" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.commissionmodule.AllPayCommissionManagerImpl">
				<property name="allpayCommissionRatesManager">
					<ref bean="allpayCommissionRatesFacade" />
				</property>
				<property name="allpayCommissionRatesDAO">
					<ref bean="allpayCommissionRatesDAO" />
				</property>
				<property name="allpayCommissionTransactionDAO">
					<ref bean="allpayCommissionTransactionDAO" />
				</property>
				<property name="commissionManager">
					<ref bean="commissionManager" />
				</property>
				<property name="distributorContactManager">
					<ref bean="distributorFacade" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="commissionRateManager" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.commissionmodule.CommissionRateManagerImpl">
				<property name="commissionRateDAO">
					<ref local="commissionRateDAO" />
				</property>
				<property name="commissionRateListViewDAO">
					<ref local="commissionRateListViewDAO" />
				</property>
				<property name="actionLogManager" ref="actionLogManager"/>
			</bean>
		</property>
	</bean>

	<bean id="commissionReasonManager" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.commissionmodule.CommissionReasonManagerImpl">
				<property name="commissionReasonDAO">
					<ref local="commissionReasonDAO" />
				</property>
				<property name="commissionReasonListViewDAO">
					<ref local="commissionReasonListViewDAO" />
				</property>
			</bean>
		</property>
	</bean>

	<!--Facade -->
	<bean id="commissionTransactionViewFacade" class="com.inov8.microbank.server.facade.portal.commissionmodule.CommissionTransactionViewFacadeImpl" autowire="byName"/>

	<bean id="allPayCommissionFacade"
		class="com.inov8.microbank.server.facade.AllPayCommissionFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allPayCommissionManager">
			<ref local="allpayCommissionManager" />
		</property>
	</bean>

	<bean id="commissionFacade" class="com.inov8.microbank.server.facade.CommissionFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="commissionManager">
			<ref local="commissionManager" />
		</property>
		<property name="commissionRateManager">
			<ref local="commissionRateManager" />
		</property>
		<property name="commissionReasonManager">
			<ref local="commissionReasonManager" />
		</property>
	</bean>
	
	<bean id="agentNetworkCommShareManager" parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.agenthierarchy.AgentNetworkCommShareManagerImpl">
				
		        <property name="distributorCommShareViewDAO">
					<ref local="distributorCommShareViewDAO" />
				</property>
		        <property name="distributorCommissionShareDAO">
					<ref local="distributorCommissionShareDAO" />
				</property>
		        <property name="distributorCommissionShareDetailDAO">
					<ref local="distributorCommissionShareDetailDAO" />
				</property>
			</bean>
		</property>
	</bean>
</beans>
