<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="alertsConfigDAO" class="com.inov8.microbank.server.dao.alertsmodule.hibernate.AlertsConfigHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="alertsRecipientsDAO" class="com.inov8.microbank.server.dao.alertsmodule.hibernate.AlertsRecipientsHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="alertsManager" class="com.inov8.microbank.server.service.alertsmodule.AlertsManagerImpl">
		<property name="alertsConfigDAO" ref="alertsConfigDAO" />
		<property name="alertsRecipientsDAO" ref="alertsRecipientsDAO" />
		<property name="actionLogManager" ref="actionLogManager"/>
	</bean>

	<bean id="alertsFacade" class="com.inov8.microbank.server.facade.portal.alertsmodule.AlertsFacadeImpl">
		<property name="alertsManager" ref="alertsManager"/>
		<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator"/>
	</bean>
	
</beans>
