<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<!-- DAO -->

  <bean id="smartMoneyAccountListViewDAO" class="com.inov8.microbank.server.dao.smartmoneymodule.hibernate.SmartMoneyAccountListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="smartMoneyAccountDAO" class="com.inov8.microbank.server.dao.smartmoneymodule.hibernate.SmartMoneyAccountHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="linkAccountsListViewDAO" class="com.inov8.microbank.server.dao.smartmoneymodule.hibernate.LinkedAccountsListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="advanceSalaryLoanDAO" class="com.inov8.microbank.server.service.advancesalaryloan.dao.hibernate.AdvanceSalaryLoanHibernateDAO">
    <property name="dataSource" ref="dataSource"/>
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

<!-- Service -->

  <bean id="smartMoneyAccountManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.smartmoneymodule.SmartMoneyAccountManagerImpl">
        <property name="smartMoneyAccountDAO">
          <ref local="smartMoneyAccountDAO"/>
        </property>
        <property name="advanceSalaryLoanDAO">
          <ref local="advanceSalaryLoanDAO"/>
        </property>
        <property name="smartMoneyAccountListViewDAO">
          <ref local="smartMoneyAccountListViewDAO"/>
        </property>
        <property name="appUserManager" ref="userManager"/>
      </bean>
    </property>
  </bean>

<!-- Facade -->

  <bean id="smartMoneyFacade" class="com.inov8.microbank.server.facade.SmartMoneyFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="smartMoneyAccountManager">
      <ref local="smartMoneyAccountManager"/>
    </property>
  </bean>

</beans>
