<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

  <bean id="failedSmsDAO" class="com.inov8.microbank.server.dao.messagemodule.hibernate.FailedSmsHibernateDAO">
	<property name="sessionFactory" ref="sessionFactory" />
	<property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="smsSenderService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.smssendermodule.SmsSenderServiceImpl">
        <property name="transactionDAO" ref="transactionDAO"/>
        <property name="smsSender" ref="smsSender"/>
        <property name="miniTransactionViewDAO" ref="miniTransactionViewDAO"/>
        <property name="financialIntegrationManager" ref="financialIntegrationManager"/>
        <property name="smartMoneyAccountDAO" ref="smartMoneyAccountDAO"/>
        <property name="actionLogManager" ref="actionLogManager"/>
        <property name="miniTransactionDAO" ref="miniTransactionDAO"/>
        <property name="transactionCodeHistoryDAO" ref="transactionCodeHistoryDAO"/>
        <property name="transactionDetailI8Manager"	ref="transactionDetailI8Facade" />
        <property name="userDeviceAccountListViewDAO">
	      <ref bean="userDeviceAccountListViewDAO"/>
	    </property> 
        <property name="failedSmsDAO" ref="failedSmsDAO" />
		<property name="realTimeSmsSender" ref="realTimeSmsSender"/>
      </bean>
    </property>
  </bean>

  <!--Facade-->

  <bean id="smsSenderFacade" class="com.inov8.microbank.server.facade.SmsSenderFacadeImpl">
    <property name="smsSenderService" ref="smsSenderService"/>
  </bean>

</beans>
