<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<!-- DAO -->


  <bean id="changeMobileListViewDAO" class="com.inov8.microbank.server.dao.portal.changemobilemodule.hibernate.ChangeMobileListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
<!-- Service -->

  <bean id="changeMobileManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.portal.changemobilemodule.ChangeMobileManagerImpl">
        <property name="changeMobileListViewDAO">
          <ref local="changeMobileListViewDAO"/>
        </property>
        <property name="actionLogManager"><ref  bean="actionLogManager"/> </property>
        <property name="appUserManager" ref="userManager"/>
        <property name="smsSender" ref="smsSender"/>
        <property name="messageSource" ref="messageSource"/>
	    <property name="userDeviceAccountsDAO" ref="userDeviceAccountsDAO"/>
      </bean>
    </property>

  </bean>

  
<!-- Facade -->

  <bean id="changeMobileFacade" class="com.inov8.microbank.server.facade.portal.changemobilemodule.ChangeMobileFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="changeMobileManager">
      <ref local="changeMobileManager"/>
    </property>
     
  </bean>

</beans>

