<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->

	<bean id="issueHistoryListViewDAO" class="com.inov8.microbank.server.dao.portal.issuemodule.hibernate.IssueHistoryListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="transactionIssueHistoryListViewDAO" class="com.inov8.microbank.server.dao.portal.issuemodule.hibernate.TransactionIssueHistoryListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="issueDAO" class="com.inov8.microbank.server.dao.portal.issuemodule.hibernate.IssueHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="issueTypeStatusDAO" class="com.inov8.microbank.server.dao.portal.issuemodule.hibernate.IssueTypeStatusHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Service -->

	<bean id="issueManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.issuemodule.IssueManagerImpl">
				<property name="issueHistoryListViewDAO" ref="issueHistoryListViewDAO"/>
				<property name="issueDAO" ref="issueDAO"/>
				<property name="issueTypeStatusDAO" ref="issueTypeStatusDAO"/>
				<property name="transactionDAO" ref="transactionDAO"/>
				<property name="transactionIssueHistoryListViewDAO" ref="transactionIssueHistoryListViewDAO"/>
				<property name="actionLogManager" ref="actionLogManager"/>
        	</bean>
		</property>
	</bean>

	<!-- Facade -->

	<bean id="issueFacade" class="com.inov8.microbank.server.facade.portal.issuemodule.IssueFacadeImpl">
		<property name="issueManager">
			<ref local="issueManager"/>
		</property>
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator"/>
		</property>
	</bean>

</beans>