<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!-- DAO -->

    <bean id="updateCustomerNameDAO" class="com.inov8.microbank.updatecustomername.dao.hibernate.UpdateCustomerNameHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>



    <!-- Service -->

    <bean id="updateCustomerNameManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.updatecustomername.service.UpdateCustomerNameManagerImpl">
                <property name="updateCustomerNameDAO">
                    <ref local="updateCustomerNameDAO"/>
                </property>
                <property name="actionLogManager" ref="actionLogManager"/>
                <property name="updateCustomerNameFacade" ref="updateCustomerNameFacade"/>
                <property name="custTransManager" ref="custTransManager"></property>
                <property name="messageSource" ref="messageSource"></property>
            </bean>
        </property>
    </bean>

    <!-- Facade -->
    <bean id="updateCustomerNameFacade" class="com.inov8.microbank.updatecustomername.facade.UpdateCustomerNameFacadeImpl">
        <property name="updateCustomerNameManager" ref="updateCustomerNameManager"/>
    </bean>

</beans>