<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<bean id="retailerSummaryViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.RetailerSummaryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
<bean id="regionalHeadSummaryViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.RegionalHeadSummaryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="distHeadSummaryViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.DistHeadSummaryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="allpaySequenceGenerator" class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO" init-method="initDao">
    <property name="dataSource" ref="dataSource"/>
    <property name="sequenceName" value="ALLPAY_SEQ"/>
  </bean>

<bean id="retailerHeadTransViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.RetailerHeadTransViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>




<bean id="distHeadReportListViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.DistHeadReportListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

<bean id="allpayRetTransViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.AllpayRetTransViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>


	<bean id="allpayReportsFacade"
		class="com.inov8.microbank.server.facade.allpaymodule.reports.AllPayReportsFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allPayReportsManager">
			<ref local="allpayReportsManager" />
		</property>
	</bean>
	
	<bean id="allpayReportsManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.AllpayModule.reports.AllPayReportsManagerImpl">
			<property name="allpayRetTransViewDAO">
			<ref local="allpayRetTransViewDAO" />
			</property>
			<property name="retailerBillSummaryViewDAO">
			<ref local="retailerBillSummaryViewDAO" />
			</property>
			<property name="distHeadReportListViewDAO">
			<ref local="distHeadReportListViewDAO" />						
			</property>						
			<property name="retailerHeadTransViewDAO">
			<ref local="retailerHeadTransViewDAO" />
			</property>
		
			<property name="switchManager">
				<ref bean="switchManager" />
			</property>
			
			<property name="retailerSummaryViewDAO">
			<ref local="retailerSummaryViewDAO" />
			</property>
			<property name="regionalHeadSummaryViewDAO">
			<ref local="regionalHeadSummaryViewDAO" />
			</property>
			<property name="distHeadSummaryViewDAO">
			<ref local="distHeadSummaryViewDAO" />
			</property>
			</bean>
		</property>
		
	</bean>

<bean id="retailerBillSummaryViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.hibernate.RetailerBillSummaryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>



<bean id="allpayUserInfoListViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.AllPayUserInfoListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

 <bean id="allpayForgotVeriflyPinViewDAO" class="com.inov8.microbank.server.dao.allpaymodule.AllpayForgotVeriflyPinViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
 <bean id="allpayDelinkRelinkPaymentModeViewDAO" class="com.inov8.microbank.server.dao.portal.allpaymodule.AllpayDelinkRelinkPaymentModeHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
	<bean id="allpayCommissionRatesDAO"
		class="com.inov8.microbank.server.dao.allpaymodule.AllpayCommissionRatesHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="allpayCommissionTransactionDAO"
		class="com.inov8.microbank.server.dao.allpaymodule.hibernate.AllPayCommissionTransactionHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="allpayCommissionRatesListViewDAO"
		class="com.inov8.microbank.server.dao.allpaymodule.AllpayCommissionRatesListViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	

	<bean id="allpayDelinkRelinkPaymentModeManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.allpaymodule.AllpayDelinkRelinkPaymentModeManagerImpl">
				<property name="allpayDelinkRelinkPaymentModeViewDAO">
					<ref local="allpayDelinkRelinkPaymentModeViewDAO"/>
				</property>
				<property name="veriflyManagerService" >
					<ref bean="veriflyController"/>
				</property>
				<property name="smartMoneyAccountDAO" ref="smartMoneyAccountDAO"/>
				
				<property name="actionLogManager" ref="actionLogManager"/>	
				<property name="financialIntegrationManager" ref="financialIntegrationManager"/>
				<property name="smsSender" ref="smsSender"/>		
				<property name="userDeviceAccountsManager" ref="userDeviceAccountsManager"/>
			</bean>
		</property>
	</bean>
	
	
	<bean id="allpayDistributorAccountManager"
		parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.AllpayModule.AllpayDistributorAccountManagerImpl">
				<property name="olaVeriflyFinancialInstitution"
					ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl" />
				<property name="distributorContactFormController">
					<ref bean="distributorContactFormCont" />
				</property>
				<property name="smsSender" ref="smsSender" />
				<property name="appUserPartnerGroupDAO"
					ref="appUserPartnerGroupDAO" />
				<property name="appUserDAO">
					<ref bean="userDao" />
				</property>
				<property name="distributorContactDAO">
					<ref bean="distributorContactDAO" />
				</property>
				<property name="distributorContactListViewDAO">
					<ref bean="distributorContactListViewDAO" />
				</property>
				<property name="userDeviceAccountsDAO">
					<ref bean="userDeviceAccountsDAO" />
				</property>
				<property name="linkPaymentModeFormController">
					<ref bean="linkPaymentModeFormCont" />
				</property>
				<property name="accountForm">
					<ref bean="OlaAccountFormCont" />
				</property>
				<property name="userDeviceAccountsManager">
					<ref bean="userDeviceAccountsManager" />
				</property>
				<property name="smartMoneyAccountDAO">
					<ref bean="smartMoneyAccountDAO" />
				</property>
				<property name="financialIntegrationManager">
					<ref bean="financialIntegrationManager" />
				</property>
				<property name="linkPaymentModeDAO">
					<ref bean="linkPaymentModeDAO" />
				</property>
				<property name="actionLogManager">
					<ref bean="actionLogManager" />
				</property>
				<property name="bankDAO">
					<ref bean="bankDAO" />
				</property>				
			</bean>
		</property>
	</bean>

	<bean id="allpayDistributorAccountFacade"
		class="com.inov8.microbank.server.facade.allpaymodule.AllpayDistributorAccountFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allpayDistributorAccountManager">
			<ref local="allpayDistributorAccountManager" />
		</property>
	</bean>


	<bean id="distributorContactFormCont"
		class="com.inov8.microbank.webapp.action.distributormodule.DistributorContactFormController">
		<property name="distributorContactManager"
			ref="distributorFacade" />
		<property name="referenceDataManager" ref="commonFacade" />
		<property name="distributorLevelManager"
			ref="distributorFacade" />
		<property name="appUserManager" ref="securityFacade" />
		<property name="partnerGroupManager" ref="partnerGroupFacade" />
	</bean>

	<bean id="linkPaymentModeFormCont"
		class="com.inov8.microbank.webapp.action.portal.linkpaymentmodemodule.LinkPaymentModeFormController">
		<property name="referenceDataManager" ref="commonFacade" />
		<property name="linkPaymentModeManager"
			ref="linkPaymentModeFacade" />
		<property name="financialIntegrationManager"
			ref="financialIntegrationManager" />
	</bean>

	<bean id="OlaAccountFormCont"
		class="com.inov8.microbank.webapp.action.OLAAccountModule.OLAAccountFormController">
		<property name="olaManager" ref="olaFacade" />
		<property name="olaVeriflyFinancialInstitution"
			ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl" />
	</bean>

	<!--for retailer-->
	<bean id="allpayRetailerAccountManager"
		parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.AllpayModule.AllpayRetailerAccountManagerImpl">
				<property name="olaVeriflyFinancialInstitution"
					ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl" />
				<property name="accountForm">
					<ref bean="OlaAccountFormCont" />
				</property>
				<property name="smsSender" ref="smsSender" />
				<property name="retailerContactListViewDAO">
					<ref bean="retailerContactListViewDAO" />
				</property>
				<property name="retailerContactDAO">
					<ref bean="retailerContactDAO" />
				</property>
				<property name="userDeviceAccountsDAO">
					<ref bean="userDeviceAccountsDAO" />
				</property>
				<property name="retailerContactFormController">
					<ref bean="retailerContactFormCont" />
				</property>
				<property name="bankDAO">
					<ref bean="bankDAO" />
				</property>
				<property name="actionLogManager">
					<ref bean="actionLogManager" />
				</property>
				<property name="linkPaymentModeDAO">
					<ref bean="linkPaymentModeDAO" />
				</property>
				<property name="userDeviceAccountsManager">
					<ref bean="userDeviceAccountsManager" />
				</property>
				<property name="financialIntegrationManager">
					<ref bean="financialIntegrationManager" />
				</property>
				<property name="smartMoneyAccountDAO">
					<ref bean="smartMoneyAccountDAO" />
				</property>
				<property name="appUserDAO">
					<ref bean="userDao" />
				</property>
        		<property name="sequenceGenerator" ref="allpaySequenceGenerator"/>
			</bean>
		</property>
	</bean>
	<bean id="retailerContactFormCont"
		class="com.inov8.microbank.webapp.action.retailermodule.RetailerContactFormController">
		<property name="retailerContactManager" ref="retailerFacade" />
		<property name="partnerGroupManager" ref="partnerGroupFacade" />
		<property name="appUserManager" ref="userManager" />
		<property name="referenceDataManager" ref="commonFacade" />
	</bean>

	<bean id="allpayRetailerAccountFacade"
		class="com.inov8.microbank.server.facade.allpaymodule.AllpayRetailerAccountFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allpayRetailerAccountManager">
			<ref local="allpayRetailerAccountManager" />
		</property>
	</bean>

	<!--Commission rates-->
	<bean id="allpayCommissionRatesFacade"
		class="com.inov8.microbank.server.facade.allpaymodule.AllpayCommissionRatesFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allpayCommissionRatesManager">
			<ref local="allpayCommissionRatesManager" />
		</property>
	</bean>
	<bean id="allpayCommissionRatesManager"
		parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.AllpayModule.AllpayCommissionRatesManagerImpl">
				<property name="allpayCommissionRatesDAO">
					<ref local="allpayCommissionRatesDAO" />
				</property>
				<property name="allpayCommissionRatesListViewDAO">
					<ref local="allpayCommissionRatesListViewDAO" />
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="allpayCommissionTransactionManager"
		parent="baseTransactionProxy">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.AllpayModule.AllpayCommissionTransactionManagerImpl">
				<property name="allPayCommissionTransactionDAO">
					<ref local="allpayCommissionTransactionDAO"/>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="allpayCommissionFacade"
		class="com.inov8.microbank.server.facade.allpaymodule.AllpayCommissionFacadeImpl">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="allpayCommissionTransactionManager">
			<ref local="allpayCommissionTransactionManager" />
		</property>
	</bean>
	
	
	<bean id="allpayForgotVeriflyPinManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.allpaymodule.AllpayForgotVeriflyPinManagerImpl">
				<property name="allpayForgotVeriflyPinViewDAO">
					<ref local="allpayForgotVeriflyPinViewDAO"/>
				</property>
				<property name="veriflyManagerService" >
					<ref bean="veriflyController"/>
				</property>
				<property name="smartMoneyAccountDAO" >
					<ref bean="smartMoneyAccountDAO"/>
				</property>	
				<property name="actionLogManager" ref="actionLogManager"/>	
				<property name="financialIntegrationManager" ref="financialIntegrationManager"/>
				<property name="smsSender" ref="smsSender"/>		
			</bean>
		</property>
	</bean>
	
	<bean id="allPayWebResponseDataPopulator"
		class="com.inov8.microbank.webapp.action.allpayweb.AllPayWebResponseDataPopulator"/>
		
	<bean id="agentWebManager"
		class="com.inov8.microbank.webapp.action.allpayweb.AgentWebManagerImpl">
		
		<property name="commissionRateDAO" ref="commissionRateDAO"/>
		<property name="commonCommandManager" ref="commonCommandManager"/>
		<property name="commissionTransactionDAO" ref="commissionTransactionDAO" />
		<property name="allPayWebResponseDataPopulator" ref="allPayWebResponseDataPopulator"/>
		
	</bean>
	
</beans>