<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


    <!--DAO-->

    <bean id="shipmentDAO" class="com.inov8.microbank.server.dao.inventorymodule.hibernate.ShipmentHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="shipmentTypeDAO" class="com.inov8.microbank.server.dao.inventorymodule.hibernate.ShipmentTypeHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="productUnitDAO" class="com.inov8.microbank.server.dao.inventorymodule.hibernate.ProductUnitHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
  <bean id="shipmentListViewDAO" class="com.inov8.microbank.server.dao.inventorymodule.hibernate.ShipmentListViewHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
     <bean id="productUnitListViewDAO" class="com.inov8.microbank.server.dao.inventorymodule.hibernate.ProductUnitListViewHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!--Service-->

    <bean id="shipmentManager" parent="baseTransactionProxy">
	    <property name="target">
		    <bean class="com.inov8.microbank.server.service.inventorymodule.ShipmentManagerImpl">
			    <property name="shipmentDAO">
				    <ref local="shipmentDAO"/>
			    </property>
                            <property name="shipmentListViewDAO">
				    <ref local="shipmentListViewDAO"/>
			    </property>
			    <property name="genericDAO" ref="genericHibernateDAO"/>
		     </bean>
	    </property>
    </bean>

    <bean id="productUnitManager" parent="baseTransactionProxy">
	    <property name="target">
		    <bean class="com.inov8.microbank.server.service.inventorymodule.ProductUnitManagerImpl">
			    <property name="productUnitDAO">
				    <ref local="productUnitDAO"/>
			    </property>
                            <property name="productUnitListViewDAO">
                                   <ref local="productUnitListViewDAO"/>
                             </property>
                             <property name="shipmentDAO">
                            <ref local="shipmentDAO"/>
          </property>
          <property name="productDAO" ref="productDAO">
          
        </property>
        <property name="genericDAO" ref="genericHibernateDAO"/>
		    </bean>
	    </property>
    </bean>
    <bean id="shipmentTypeManager" parent="baseTransactionProxy">
	    <property name="target">
            <bean class="com.inov8.microbank.server.service.inventorymodule.ShipmentTypeManagerImpl">
              <property name="shipmentTypeDAO">
                <ref local="shipmentTypeDAO"/>
              </property>
            </bean>
          </property>
    </bean>

    <bean id="shipmentUploadManager" parent="baseTransactionProxy">
	    <property name="target">
		    <bean class="com.inov8.microbank.server.service.inventorymodule.ShipmentUploadManagerImpl">
			    <property name="productUnitDAO">
				    <ref local="productUnitDAO"/>
			    </property>

		     </bean>
	    </property>
    </bean>


    <!--Facade-->

    <bean id="inventoryFacade" class="com.inov8.microbank.server.facade.InventoryFacadeImpl">
      <property name="shipmentUploadManager"><ref local="shipmentUploadManager"/></property>
      <property name="frameworkExceptionTranslator"><ref bean="frameworkExceptionTranslator"/>       </property>
      <property name="shipmentManager"><ref local="shipmentManager"/></property>
      <property name="shipmentTypeManager"><ref local="shipmentTypeManager"/></property>
      <property name="productUnitManager"><ref local="productUnitManager"/></property>
    </bean>

<!-- Service -->
  <bean id="activateDeactivateProductUnitManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.inventorymodule.ActivateDeactivateProductUnitManagerImpl">
       	<property name="productUnitManager" ref="productUnitManager"/>
       	<property name="genericDao" ref="genericHibernateDAO"/>
      </bean>
    </property>
  </bean>

  
<!-- Facade -->
  <bean id="activateDeactivateProductUnitFacade" class="com.inov8.microbank.server.facade.ActivateDeactivateProductUnitFacadeImpl">
    <property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator"/>
    <property name="activateDeactivateProductUnitManager" ref="activateDeactivateProductUnitManager"/>
  </bean>


 </beans>
