<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->
	<bean id="faqCatalogDAO" class="com.inov8.microbank.faq.dao.hibernate.FaqCatalogHibernateDAO">
	  	<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="faqCatalogDetailViewDAO" class="com.inov8.microbank.faq.dao.hibernate.FaqCatalogDetailViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Service -->
	<bean id="faqManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.faq.service.FaqManagerImpl">
				<property name="faqCatalogDAO" ref="faqCatalogDAO"/>
				<property name="faqCatalogDetailViewDAO" ref="faqCatalogDetailViewDAO"/>
			</bean>
		</property>
	</bean>

</beans>
