<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!-- DAO -->

	<bean id="manualAdjustmentDAO" class="com.inov8.microbank.server.dao.portal.manualadjustmentmodule.ManualAdjustmentHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

    <bean id="bulkReversalDAO" class="com.inov8.microbank.server.dao.portal.manualadjustmentmodule.BulkReversalHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="dataSource" ref="dataSource" />
    </bean>

	<bean id="bBAccountsViewDao" class="com.inov8.microbank.server.dao.portal.bbaccountsview.hibernate.BBAccountsViewHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="bulkManualAdjustmentDAO" class="com.inov8.microbank.server.dao.portal.manualadjustmentmodule.BulkManualAdjustmentHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
        <property name="dataSource" ref="dataSource" />
   </bean>

<!-- Service -->

  <bean id="manualAdjustmentManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.manualadjustmentmodule.ManualAdjustmentManagerImpl">
      	<property name="manualAdjustmentDAO" ref="manualAdjustmentDAO" />
		  <property name="bulkManualAdjustmentDAO" ref="bulkManualAdjustmentDAO" />
      	<property name="bBAccountsViewDao" ref="bBAccountsViewDao" />
      	<property name="actionLogManager" ref="actionLogManager"/>
      	<property name="switchController" ref="switchController"></property>
      	<property name="transactionCodeDAO" ref="transactionCodeDAO"></property>
      	<property name="stkholderBankInfoManager" ref="stakeholderBankInfoManager" />
      	<property name="settlementManager" ref="settlementManager" />
      	<property name="transactionDetailMasterManager" ref="transactionDetailMasterManager"/>
      	<property name="transactionModuleManager" ref="transactionModuleManager"/>
        <property name="bulkManualAdjustmentMarshaller" ref="xmlMarshaller" />
        <property name="jmsProducer" ref="jmsProducer" />
        <property name="phoenixFinancialInstitution" ref="phoenixFinancialInstitution" />



      </bean>
    </property>

  </bean>
  
  <bean id="manualReversalManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.manualadjustmentmodule.ManualReversalManagerImpl" autowire="byName">
    	<property name="bBAccountsViewDao">
      		<ref local="bBAccountsViewDao"/>
    	</property>
          <property name="bulkReversalDAO">
              <ref local="bulkReversalDAO"/>
          </property>
          <property name="bulkAutoReversalModelXmlMarshaller" ref="xmlMarshaller" />
          <property name="jmsProducer" ref="jmsProducerFacade" />
      </bean>
    </property>
  </bean>


<!-- Facade -->

  <bean id="manualAdjustmentFacade" class="com.inov8.microbank.server.facade.manualadjustmentmodule.ManualAdjustmentFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="manualAdjustmentManager">
      <ref local="manualAdjustmentManager"/>
    </property>
	<property name="creditAccountQueingPreProcessor">
      <ref bean="creditAccountQueingPreProcessor"/>
    </property>
	<property name="coreAdviceQueingPreProcessor">
      <ref bean="coreAdviceQueingPreProcessor"/>
    </property>
  </bean>
  
  <bean id="manualReversalFacade" class="com.inov8.microbank.server.facade.manualadjustmentmodule.ManualReversalFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="manualReversalManager">
      <ref local="manualReversalManager"/>
    </property>
      <property name="manualAdjustmentManager">
          <ref local="manualAdjustmentManager"/>
      </property>
	<property name="creditAccountQueingPreProcessor">
      <ref bean="creditAccountQueingPreProcessor"/>
    </property>
  </bean>

</beans>
