<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean id="allTecosTopupDispenser" class="com.inov8.microbank.server.service.integration.dispenser.AllTecosTopupDispenser">
		
		
   		<property name="messageSource" ref="messageSource"/>
		<property name="productDispenseController" ref="productDispenseController"/>
  </bean>


  <bean id="productDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="billpaymentsDueDateDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.BillPaymentsDueDateHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="productLimitDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductLimitHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="productCatalogDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductCatalogHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="productCatalogListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductCatalogListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="productListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="productCatalogDetailDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductCatalogDetailHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="productIntegrationModuleInfoDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductIntegrationModuleInfoHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="discreteProdUnitListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.DiscreteProdUnitListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="productIntgVODAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductIntgVOHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="catalogServiceListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.CatalogServiceListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <!-- 
  <bean id="catalogVersionListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.CatalogVersionListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
   -->
  <bean id="catalogVersionListViewDAO" class="com.inov8.framework.server.dao.framework.v2.hibernate.GenericHibernateDao" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
   
  <bean id="prodCatalogDetailListViewDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProdCatalogDetailListViewHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

	<bean id="menuLevelDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.MenuLevelHibernateDAO" lazy-init="default" autowire="default" dependency-check="default">
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>

  	<bean id="categoryDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.CategoryHibernateDAO" >
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>
    <bean id="billStatusDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.BillStatusHibernateDAO">
      <property name="sessionFactory" ref="sessionFactory"/>
      <property name="dataSource" ref="dataSource"/>
    </bean>
  <bean id="ibftStatusDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.IBFTStatusHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
<!-- 	added by atif hussain -->
	
  	<bean id="productLimitRuleDAO" autowire="byName" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductLimitRuleHibernateDAO" >
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>

  <bean id="productChargesRuleDao" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductChargesRuleHibernateDao" autowire="byName"/>

<!--  Added By Abubakar-->
  <bean id="productThresholdChargesDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.ProductThresholdChargesHibernateDAO" autowire="byName"/>
  <bean id="commissionThresholdRateDAO" class="com.inov8.microbank.server.dao.productmodule.hibernate.CommissionThresholdRateHibernateDAO" autowire="byName">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="productDispenseController" class="com.inov8.microbank.server.service.productmodule.ProductDispenseControllerImpl" lazy-init="default" autowire="default" dependency-check="default">
    <property name="productIntgModuleInfoManager" ref="productFacade"/>
    <property name="commissionManager" ref="commissionFacade"/>
    <property name="smartMoneyAccountManager" ref="smartMoneyFacade"/>
    <property name="settlementManager" ref="settlementFacade"/>
    <property name="productManager" ref="productFacade"/>
	<property name="genericDAO" ref="genericHibernateDAO"/>
    <property name="productUnitManager" ref="inventoryFacade"/>
    <property name="failureLogManager" ref="auditLogModuleFacade"/>
    <property name="appUserManager" ref="securityFacade"/>
<!--    <property name="billpaymentsDueDateDAO" ref="billpaymentsDueDateDAO"/>-->
    <property name="shipmentManager" ref="inventoryFacade"/>
    <property name="productIntgVOManager" ref="productIntgVOManager"/>    
  </bean>


  <!--======================================= Manager ===========================================-->
  <bean id="productManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.productmodule.ProductManagerImpl" autowire="byName">
        <property name="productDAO">
          <ref local="productDAO"/>
        </property>
        <property name="productLimitDAO">
          <ref local="productLimitDAO"/>
        </property>
        <property name="productListViewDAO">
          <ref local="productListViewDAO"/>
        </property>
        <property name="productUnitDAO">
          <ref bean="productUnitDAO"/>
        </property>
        <property name="discreteProdUnitListViewDAO">
          <ref bean="discreteProdUnitListViewDAO"/>
        </property>
        <property name="shipmentDAO">
          <ref bean="shipmentDAO"/>
        </property>
        <property name="actionLogManager" ref="actionLogManager"/>
        <property name="productLimitRuleDAO">
          <ref bean="productLimitRuleDAO"/>
        </property>
        <property name="stakeholderBankInfoDAO">
          <ref bean="stakeholderBankInfoDAO"/>
        </property>
       
        <property name="productCatalogDAO">
          <ref bean="productCatalogDAO"/>
        </property>
         <property name="productCatalogDetailDAO">
          <ref bean="productCatalogDetailDAO"/>
        </property>
        
      </bean>
    </property>
  </bean>
  <bean id="productCatalogManager" parent="baseTransactionProxy" lazy-init="default" autowire="byName" dependency-check="default">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.productmodule.ProductCatalogManagerImpl" lazy-init="default" autowire="byName" dependency-check="default">
        <property name="productCatalogDAO">
          <ref local="productCatalogDAO"/>
        </property>
        <property name="productCatalogListViewDAO">
          <ref local="productCatalogListViewDAO"/>
        </property>
        <property name="productCatalogDetailDAO">
          <ref local="productCatalogDetailDAO"/>
        </property>
        <property name="prodCatalogDetailListViewDAO">
          <ref bean="prodCatalogDetailListViewDAO"/>
        </property>
      </bean>
    </property>
  </bean>

  <bean id="productIntgModuleInfoManager" parent="baseTransactionProxy" lazy-init="default" autowire="default" dependency-check="default">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.productmodule.ProductIntgModuleInfoManagerImpl" lazy-init="default" autowire="default" dependency-check="default">
        <property name="productIntegrationModuleInfoDAO">
          <ref local="productIntegrationModuleInfoDAO"/>
        </property>
      </bean>
    </property>
  </bean>

  <bean id="productIntgVOManager" parent="baseTransactionProxy" lazy-init="default" autowire="default" dependency-check="default">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.productmodule.ProductIntgVOManagerImpl" lazy-init="default" autowire="default" dependency-check="default">
        <property name="productIntgVODAO">
          <ref local="productIntgVODAO"/>
        </property>
      </bean>
    </property>
  </bean>


  <!--======================================= Facade ===========================================-->
  <bean id="productFacade" class="com.inov8.microbank.server.facade.ProductFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="productManager">
      <ref local="productManager"/>
    </property>
    <property name="productCatalogManager">
      <ref local="productCatalogManager"/>
    </property>
    <property name="productIntgModuleInfoManager">
      <ref bean="productIntgModuleInfoManager"/>
    </property>
    <property name="productIntgVOManager">
      <ref bean="productIntgVOManager"/>
    </property>
  </bean>
</beans>
