<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<!-- DAO -->

 <bean id="userInfoListViewDAO" class="com.inov8.microbank.server.dao.portal.mfsaccountmodule.hibernate.UserInfoListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>

    <bean id="minorUserInfoListViewDAO" class="com.inov8.microbank.server.dao.portal.mfsaccountmodule.hibernate.MinorUserInfoListViewHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

  <bean id="goldenNosDAO" class="com.inov8.microbank.server.dao.portal.mfsaccountmodule.hibernate.GoldenNosHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="goldenNoSequenceGenerator" class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO" init-method="initDao">
    <property name="dataSource" ref="dataSource"/>
    <property name="sequenceName" value="GOLDEN_NOS_SEQ"/>
  </bean>
<bean id="deviceApplicationNoGenerator" class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO" init-method="initDao">
    <property name="dataSource" ref="dataSource"/>
    <property name="sequenceName" value="DEVICE_APPLICATION_NOS_SEQ"/>
  </bean>

	<bean id="bbCustomerAccountsViewDao" class="com.inov8.microbank.server.dao.portal.bbcustomersmodule.hibernate.BbCustomerAccountsViewHibernateDao">
        <property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="appUserHistoryDao" class="com.inov8.microbank.server.dao.appuserhistorymodule.hibernate.AppUserHistoryHibernateDao" autowire="byName"/>

	<bean id="appUserHistoryViewDao" class="com.inov8.microbank.server.dao.appuserhistorymodule.hibernate.AppUserHistoryViewHibernateDao" autowire="byName"/>
	<bean id="rootedMobileHistoryDAO" class="com.inov8.microbank.server.dao.rootedmobilehistory.hibernate.RootedMobileHistoryHibernateDAO" autowire="byName"/>
<!-- Service -->

    <bean id="schedulerManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.schedulers.service.SchedulerManagerImpl" autowire="byName">
                <property name="mfsAccountFacade">
                    <ref bean="mfsAccountFacade" />
                </property>
                <property name="level3AccountFacade">
                    <ref bean="level3AccountFacade" />
                </property>
            </bean>
        </property>
    </bean>

  <bean id="mfsAccountManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.portal.mfsaccountmodule.MfsAccountManagerImpl" autowire="byName">
          <property name="bulkAgentCreationDAO">
              <ref bean="bulkAgentCreationDAO" />
          </property>
          <property name="blinkCustomerDAO" >
              <ref bean="blinkCustomerDAO"/>
          </property>
          <property name="blinkCustomerPictureDAO" ref="blinkCustomerPictureDAO"/>
          <property name="merchantAccountPictureDAO" ref="merchantAccountPictureDAO"/>
          <property name="blinkCustomerModelDAO" ref="blinkCustomerModelDAO"/>
          <property name="blinkDefaultLimitDAO" ref="blinkDefaultLimitDAO"/>
        <property name="userInfoListViewDAO">
          <ref local="userInfoListViewDAO"/>
        </property>
          <property name="minorUserInfoListViewDAO">
              <ref local="minorUserInfoListViewDAO"/>
          </property>
        <property name="messageSource">
	      <ref bean="messageSource"/>
	    </property>
        <property name="goldenNosDAO">
          <ref local="goldenNosDAO"/>
        </property>
        <property name="userDeviceAccountsDAO">
          <ref bean="userDeviceAccountsDAO"/>
        </property>
        <property name="custTransManager" ref="custTransManager"/>
        <property name="appUserDAO" ref="appUserDAO"/>
        <property name="smsSender" ref="smsSender"/>
        <property name="sequenceGenerator" ref="goldenNoSequenceGenerator"/>
        <property name="actionLogManager" ref="actionLogManager"/>

        <property name="bankDAO" ref="bankDAO"/>
        <property name="financialIntegrationManager" ref="financialIntegrationManager"/>
        <property name="linkPaymentModeDAO" ref="linkPaymentModeDAO"/>
        <property name="olaVeriflyFinancialInstitution" ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"/>
        <property name="addressDAO" ref="addressDAO"/>
        <property name="customerAddressesDAO" ref="customerAddressesDAO"/>
        <property name="deviceApplicationNoGenerator" ref="deviceApplicationNoGenerator"/>
        <property name="segmentDAO" ref="segmentDAO"/>
        <property name="kycDAO" ref="kycDAO"/>
        <property name="acOwnerShipDetailDAO" ref="acOwnerShipDetailDAO"/>
        <property name="transactionModeDAO" ref="transactionModeDAO" />
        <property name="languageDAO" ref="languageDAO"/>
        <property name="customerTypeDAO" ref="customerTypeDAO"/>
        <property name="fundSourceDAO" ref="fundSourceDAO"/>
        <property name="olaCustomerAccountTypeDao" ref="olaCustomerAccountTypeDao"/>
        <property name="smartMoneyAccountDAO" ref="smartMoneyAccountDAO"/>
        <property name="walkinCustomerDAO" ref="walkinCustomerDAO"/>
        <property name="customerPictureDAO" ref="customerPictureDAO"/>
        <property name="applicantDetailDAO" ref="applicantDetailDAO"/>
        <property name="businessDetailDAO" ref="businessDetailDAO"/>
        <property name="accountInfoDao" ref="accountInfoDao"/>
        <property name="failureReasonDao" ref="vfFailureReasonDao"/>
        <property name="veriflyConfigurationDao" ref="veriflyConfigurationDao"/>
        <property name="variflyValidator" ref="variflyValidator"/>
        <property name="keysObj" ref="keysObj"/>
   		<property name="encryptionHandler" ref="encryptionHandler"/>
   		<property name="logManager" ref="logManager"/>
   		<property name="appUserMobileHistoryDAO" ref="appUserMobileHistoryDAO" />
   		<property name="customerFundSourceDAO" ref="customerFundSourceDAO" />
		<property name="transactionManager" ref="transactionModuleManager"/>
        <property name="agentMerchantDetailDAO" ref="agentMerchantDetailDAO"/>
        <property name="transactionDetailMasterManager" ref="transactionDetailMasterManager"/>
        <property name="rootedMobileHistoryDAO" ref="rootedMobileHistoryDAO"/>
        <property name="accountControlManager" ref="accountControlManager"/>
          <property name="transactionReversalManager">
              <ref bean="transactionReversalManager"/>
          </property>
          <property name="coreAdviceQueingPreProcessor">
              <ref bean="coreAdviceQueingPreProcessor"/>
          </property>
      </bean>
    </property>
  </bean>

  <!-- DAO -->
  <bean id="accountInfoDao" class="com.inov8.verifly.server.dao.mainmodule.hibernate.AccountInfoHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="veriflyConfigurationDao" class="com.inov8.verifly.server.dao.mainmodule.hibernate.VeriflyConfigurationHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="vfFailureReasonDao" class="com.inov8.verifly.server.dao.mainmodule.hibernate.FailureReasonHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="customerFundSourceDAO" class="com.inov8.microbank.server.dao.customermodule.hibernate.CustomerFundSourceHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="keysObj" class="com.inov8.verifly.common.util.ConfigurationContainer" >
	<constructor-arg>
	  <ref bean="veriflyConfigurationDao"/>
	</constructor-arg>   
	</bean>

	<bean id="variflyValidator" class="com.inov8.verifly.common.util.VariflyValidator">
	</bean>
	
	<bean id="encryptionHandler" class="com.inov8.verifly.common.des.EncryptionHandler" >
		<constructor-arg>
	  	<ref bean="veriflyConfigurationDao"/>
		</constructor-arg>   
	</bean>

	<bean id="bbCustomerAccountsViewManager" parent="baseTransactionProxy">
		<property name="target">
            <bean class="com.inov8.microbank.server.service.portal.bbcustomersmodule.BbCustomerAccountsViewManagerImpl" autowire="byName">
                <property name="actionLogManager" ref="actionLogManager" />
                <property name="bbCustomerAccountsViewDao" ref="bbCustomerAccountsViewDao" />
            </bean>
		</property>
	</bean>

<!-- Facade -->

  <bean id="mfsAccountFacade" class="com.inov8.microbank.server.facade.portal.mfsaccountmodule.MfsAccountFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="mfsAccountManager" ref="mfsAccountManager"/>
    <property name="creditAccountQueingPreProcessor" ref="creditAccountQueingPreProcessor"/>
     
  </bean>

	<bean id="bbCustomerAccountsViewFacade" class="com.inov8.microbank.server.facade.portal.bbcustomersmodule.BbCustomerAccountsViewFacadeImpl" autowire="byName">
	</bean>

	<bean id="mfsAccountClosureManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.portal.mfsaccountmodule.MfsAccountClosureManagerImpl" autowire="byName">
        <property name="debitCardModelDAO">
            <ref bean="debitCardModelDAO" />
        </property>
          <property name="accountDAO">
          <ref bean="accountDAO"/>
        </property>
        <property name="custTransManager" ref="custTransManager"/>
        <property name="customerRemitterDAO" ref="customerRemitterDAO" />
        <property name="accountInfoDAO" ref="accountInfoDao"/>
        <property name="mfsAccountManager">
	      <ref local="mfsAccountManager"/>
	    </property>
	    <property name="switchController">
          <ref bean="switchController"/>
        </property>
        <property name="actionLogManager">
        	<ref  bean="actionLogManager"/>
        </property>
        <property name="appUserManager">
	      <ref bean="securityFacade"/>
	    </property>
	    <property name="stakeholderBankInfoManager"	ref="stakeholderFacade" />
        <property name="financialIntegrationManager" ref="financialIntegrationManager"/>
        <property name="accountHolderManager" ref="accountFacade"/>
     	<property name="veriflyController" ref ="veriflyController"/>
        <property name="smartMoneyAccountDAO" ref ="smartMoneyAccountDAO"/>
        <property name="handlerManager" ref ="handlerManager"/>
        <property name="verisysDataManager" ref ="verisysDataManager"/>
          <property name="esbAdapter" ref="esbAdapter"></property>
      </bean>
    </property>

  </bean>
  
  <bean id="mfsAccountClosureFacade" class="com.inov8.microbank.server.facade.portal.mfsaccountmodule.MfsAccountClosureFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="mfsAccountClosureManager" ref="mfsAccountClosureManager"/>
     
  </bean>

  <bean id="agentMerchantDetailDAO"
          class="com.inov8.microbank.server.dao.portal.agentmerchantdetailmodule.hibernate.AgentMerchantDetailHibernateDAO">
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="agentMerchantDetailViewDAO"
          class="com.inov8.microbank.server.dao.portal.agentmerchantdetailmodule.hibernate.AgentMerchantDetailViewHibernateDAO">
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  
</beans>


