<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

  <!-- Definition of Bean -->

  <bean id="customerDiscreteProductSale" class="com.inov8.microbank.server.service.workflow.sales.CustomerDiscreteProductSale">
  <property name="userDeviceAccountsManager">
      <ref bean="userDeviceAccountsManager"/>
    </property>

    <property name="commissionManager">
      <ref bean="commissionFacade"/>
    </property>
    <property name="settlementManager">
      <ref  bean="settlementFacade"/>
    </property>
    <property name="txManager">
      <ref  bean="transactionFacade"/>
    </property>
    <property name="statusCheck">
      <ref  bean="statusCheckFacade"/>
    </property>
    <property name="productUnitManager">
      <ref bean="productUnitManager" />
    </property>
    <property name="operatorManager">
      <ref bean="operatorManager" />
    </property>
    <property name="failureLogManager">
      <ref bean="failureLogManager" />
    </property>
    <property name="productManager">
      <ref  bean="productFacade"/>
    </property>
    <property name="customerManager">
      <ref  bean="customerFacade"/>
    </property>
    <property name="smartMoneyAccountManager">
      <ref  bean="smartMoneyFacade"/>
    </property>
    <property name="smsSender">
      <ref bean="smsSender"/>
    </property>
    <property name="appUserManager">
      <ref bean="securityFacade"/>
    </property>
    <property name="productDispenseController">
      <ref bean="productDispenseController"/>
    </property>
    <property name="notificationMessageManager">
      <ref bean="messageFacade"/>
    </property>
    <property name="veriflyController">
      <ref bean="veriflyController"/>
    </property>
    <property name="switchController">
      <ref bean="switchController"/>
    </property>
    <property name="supplierBankInfoManager">
      <ref bean="supplierBankInfoManager"/>
    </property>
    <property name="financialIntegrationManager">
    	<ref bean="financialIntegrationManager"/>
    </property>
    
  </bean>




   <bean id="customerVariableProductSale" parent="variableProductSaleTransaction">
  <property name="target">
      <bean class="com.inov8.microbank.server.service.workflow.sales.CustomerVariableProductSale">
  	  	<property name="userDeviceAccountsManager">
      	<ref bean="userDeviceAccountsManager"/>
	    </property>
	    <property name="commissionManager">
	      <ref bean="commissionFacade"/>
	    </property>
	    <property name="settlementManager">
	      <ref  bean="settlementFacade"/>
	    </property>
	    <property name="statusCheck">
	      <ref  bean="statusCheckFacade"/>
	    </property>
	    <property name="productManager">
	      <ref bean="productManager" />
	    </property>
	    <property name="customerManager">
	      <ref  bean="customerFacade"/>
	    </property>
	    <property name="smartMoneyAccountManager">
	      <ref  bean="smartMoneyFacade"/>
	    </property>
	    <property name="txManager">
	      <ref  bean="transactionFacade"/>
	    </property>
	    <property name="productDispenseController">
	      <ref bean="productDispenseController"/>
	    </property>
	    <property name="smsSender">
	      <ref bean="smsSender"/>
	    </property>
	    <property name="notificationMessageManager">
	      <ref bean="messageFacade"/>
	    </property>
	    <property name="supplierBankInfoManager">
	      <ref bean="supplierBankInfoManager"/>
	    </property>
	    <property name="financialIntegrationManager">
	    	<ref bean="financialIntegrationManager"/>
	    </property>
   		<property name="transactionDetailMasterManager">
          <ref bean="transactionDetailMasterManager"/>
    	</property>
     </bean>
    </property>
  </bean>

    <bean id="retailerVariableProductSale" parent="discreteProductSaleTransaction">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.workflow.sales.RetailerVariableProductSale">
        <property name="settlementManager">
          <ref  bean="settlementManager"/>
        </property>
        <property name="commissionManager">
          <ref bean="allPayCommissionFacade"/>
        </property>
        <property name="productManager">
          <ref bean="productManager"/>
        </property>
        <property name="smsSender">
          <ref bean="smsSender"/>
        </property>
        <property name="smartMoneyAccountManager">
    	  <ref  bean="smartMoneyFacade"/>
	    </property>
        <property name="xstream">
          <ref bean="xstream"/>
        </property>
        <property name="txManager">
          <ref  bean="transactionModuleManager"/>
        </property>
        <property name="customerManager">
          <ref bean="custTransManager"/>
        </property>
        <property name="retailerContactManager">
          <ref bean="retailerContactManager"/>
        </property>
        <property name="financialIntegrationManager">
    		<ref bean="financialIntegrationManager"/>
    	</property>
        <property name="productDispenseController">
          <ref bean="productDispenseController"/>
        </property>
        <property name="shipmentManager">
          <ref bean="inventoryFacade" />
        </property>
        <property name="notificationMessageManager">
          <ref bean="messageFacade"/>
        </property>
        <property name="statusCheck">
          <ref  bean="statusCheckFacade"/>
        </property>
        <property name="userDeviceAccountsManager">
          <ref bean="userDeviceAccountsManager"/>
        </property>
        <property name="allTecosTopupDispenser">
          <ref bean="allTecosTopupDispenser"/>
        </property>
      </bean>
    </property>
  </bean>



</beans>
