<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


    <bean id="clsPendingBlinkCustomerDAO"
          class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.dao.hibernate.ClsPendingBlinkCustomerHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="clsPendingAccountOpeningDAO"
          class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.dao.hibernate.ClsPendingAccountOpeningHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="clsDebitCreditDAO"
          class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.dao.hibernate.ClsDebitCreditHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--======================================= Manager ===========================================-->
    <bean id="clsPendingBlinkCustomerManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.ClsPendingBlinkCustomerManagerImpl">
                <property name="messageSource" ref="messageSource"></property>
                <property name="clsPendingBlinkCustomerDAO" ref="clsPendingBlinkCustomerDAO"></property>
                <property name="mfsAccountManager" ref="mfsAccountManager"></property>
                <property name="appUserDAO" ref="appUserDAO"></property>
                <property name="userDeviceAccountsDAO" ref="userDeviceAccountsDAO"></property>
                <property name="addressDAO" ref="addressDAO">
                </property>
                <property name="customerAddressesDAO" ref="customerAddressesDAO"></property>
                <property name="custTransManager" ref="customerFacade"></property>
                <property name="accountInfoDao" ref="accountInfoDao"></property>
                <property name="bankDAO" ref="bankDAO">
                </property>
                <property name="customerPictureDAO" ref="customerPictureDAO"></property>
                <property name="blinkCustomerModelDAO" ref="blinkCustomerModelDAO"></property>
                <property name="esbAdapter" ref="esbAdapter"/>
                <property name="blinkDefaultLimitDAO" ref="blinkDefaultLimitDAO">
                </property>
                <property name="blinkCustomerDAO" ref="blinkCustomerDAO"></property>
                <property name="accountDAO" ref="accountDAO"></property>
                <property name="olaVeriflyFinancialInstitution" ref="com.inov8.microbank.server.service.financialintegrationmodule.OLAVeriflyFinancialInstitutionImpl"/>
                <property name="smartMoneyAccountDAO" ref="smartMoneyAccountDAO"></property>
                <property name="smsSender" ref="smsSender"></property>
            </bean>
        </property>
    </bean>

    <bean id="clsPendingAccountOpeningManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.ClsPendingAccountOpeningManagerImpl">
                <property name="clsPendingAccountOpeningDAO" ref="clsPendingAccountOpeningDAO"></property>
            </bean>
        </property>
    </bean>

    <bean id="clsDebitCreditManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.inov8.microbank.server.service.clspendingblinkcustomermodule.ClsDebitCreditManagerImpl">
                <property name="clsDebitCreditDAO" ref="clsDebitCreditDAO"></property>
            </bean>
        </property>
    </bean>
</beans>