<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- DAO -->
	<!--<bean id="segmentAuthenticationMethodDAO" class="com.inov8.microbank.authenticationmethod.dao.hibernate.SegmentAuthenticationMethodHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"/>
	</bean>-->

	<!--<bean id="authenticationMethodDAO" class="com.inov8.microbank.authenticationmethod.dao.hibernate.AuthenticationMethodHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>-->

	<!-- Service -->
	 <!--<bean id="authenticationMethodFacade"
		class="com.inov8.microbank.authenticationmethod.facade.AuthenticationMethodFacadeImpl" autowire="byName">
	</bean>-->
	
	<!--<bean id="authenticationMethodManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.authenticationmethod.service.AuthenticationMethodManagerImpl" autowire="byName">
            </bean>
		</property>
	</bean>-->
	
	<!--<bean id="authenticationMethodFactory" class="com.inov8.microbank.authenticationmethod.facade.AuthenticationMethodFactory" autowire="byName"/>-->
	
	<bean id="otpAuthentication" class="com.inov8.microbank.authenticationmethod.service.OTPAuthentication" autowire="byName"/>
	
	<!--<bean id="otpViaIVRAuthentication" class="com.inov8.microbank.authenticationmethod.service.OTPViaIVRAuthentication" autowire="byName"/>-->
	
	<!--<bean id="pinAuthentication" class="com.inov8.microbank.authenticationmethod.service.PINAuthentication" autowire="byName"/>-->
	
	<!--<bean id="pinViaIVRAuthentication" class="com.inov8.microbank.authenticationmethod.service.PINViaIVRAuthentication" autowire="byName"/>-->
	
	<!--<bean id="atmpinAuthentication" class="com.inov8.microbank.authenticationmethod.service.ATMPINAuthentication" autowire="byName"/>-->
	
	<!--<bean id="noAuthentication" class="com.inov8.microbank.authenticationmethod.service.NoAuthentication" autowire="byName"/>-->

	<!--<bean id="bvsAuthentication" class="com.inov8.microbank.authenticationmethod.service.BVSAuthentication" autowire="byName"/>-->
</beans>
