<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->
  <bean id="middlewareRetryAdviceDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.MiddlewareRetryAdviceHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="dataSource" ref="dataSource" />
  </bean>

	<bean id="thirdPartCashOutRetryAdviceDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.ThirdPartyRetryAdviceHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="thirdPartAccountOpeningDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.ThirdPartyAcOpeningHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bookMeLogDAO" class="com.inov8.microbank.server.dao.portal.bookmemodule.hibernate.BookMeDetailHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="thirdPartyAccountOpeningViewDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.ThirdPartyAccountOpeningViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bookMeTransactionDetailDAO" class="com.inov8.microbank.server.dao.portal.bookmemodule.hibernate.BookMeTransactionDetailHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bookMeTransactionDetaili8DAO" class="com.inov8.microbank.server.dao.portal.bookmemodule.hibernate.BookMeTransactionDetaili8HibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bopCardIssuanceDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.BOPCardIssuanceHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bopCardIssuanceViewDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.BOPCardIssuanceViewHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="fetchThirdPartySegmentsDAO" class="com.inov8.microbank.server.dao.thirdpartcashoutmodule.hibernate.FetchThirdPartySegmentsHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="fetchCardTypeDAO" class="com.inov8.microbank.server.dao.fetchcardtype.hibernate.FetchCardTypeHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

  <bean id="ibftRetryAdviceDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.IBFTRetryAdviceHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="iBFTRetryAdviceListViewDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.IBFTRetryAdviceListViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="retryAdviceListSummaryViewDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.RetryAdviceListSummaryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="retryAdviceListHistoryViewDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.RetryAdviceListHistoryViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="retryCreditQueueViewDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.RetryCreditQueueViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="accountCreditQueueLogDAO" class="com.inov8.microbank.server.dao.messagingmodule.hibernate.AccountCreditQueueLogHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="safRepoCoreDao" class="com.inov8.microbank.server.dao.safrepo.hibernate.SafRepoCoreHibernateDao">
	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
	
	<!-- Service -->
    <bean id="transactionReversalManager" parent="baseTransactionProxy">
  		<property name="target">
  			<bean class="com.inov8.microbank.server.service.transactionreversal.TransactionReversalManagerImpl">
				<property name="reversalAdviceSender" ref="reversalAdviceSender" />
				<property name="transactionReversalDAO" ref="transactionReversalDAO" />
					<property name="transactionManager" ref="transactionModuleManager"/>
					<property name="actionLogManager" ref="actionLogManager"/>
					<property name="smsSender" ref="smsSender"/>
				<property name="genericDao">
					<ref bean="genericHibernateDAO"/>
				</property>
				<property name="payMtncRequestDAO" ref="payMtncRequestDAO" />
				<property name="commissionManager" ref="commissionManager"/>
					<property name="transactionDetailMasterManager" ref="transactionDetailMasterManager"></property>
					<property name="coreAdviceSender" ref="coreAdviceSender"/>
					<property name="iBFTIncomingRequestQueue" ref="iBFTIncomingRequestQueue"/>
					<property name="walletIncomingRequestQueue" ref="walletIncomingRequestQueue"/>
				<property name="creditPaymentRequestQueue" ref="creditPaymentRequestQueue"></property>
				<property name="debitPaymentRequestQueue" ref="debitPaymentRequestQueue"></property>
					<property name="middlewareRetryAdviceDAO" ref="middlewareRetryAdviceDAO"/>
					<property name="ibftRetryAdviceDAO" ref="ibftRetryAdviceDAO"/>
					<property name="iBFTRetryAdviceListViewDAO" ref="iBFTRetryAdviceListViewDAO"/>
					<property name="retryAdviceListSummaryViewDAO" ref="retryAdviceListSummaryViewDAO"/>
					<property name="retryAdviceListHistoryViewDAO" ref="retryAdviceListHistoryViewDAO"/>
					<property name="olaManager" ref="olaManager"/>
					<property name="retryCreditQueueViewDAO" ref="retryCreditQueueViewDAO"/>
					<property name="accountCreditQueueLogDAO" ref="accountCreditQueueLogDAO"/>
					<property name="miniTransactionDAO" ref="miniTransactionDAO"/>
					<property name="safRepoCoreDao" ref="safRepoCoreDao"/>
					<property name="financialIntegrationManager" ref="financialIntegrationManager"/>
					<property name="settlementManager" ref="settlementManager" />
				<property name="esbAdapter" ref="esbAdapter" />
				<property name="thirdPartyRetryAdviceDAO" ref="thirdPartCashOutRetryAdviceDAO"/>
  			</bean>
  		</property>
    </bean>

	<!-- Facade -->
    <bean id="transactionReversalFacade" class="com.inov8.microbank.server.facade.portal.transactionreversal.TransactionReversalFacadeImpl">
    	<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator" />
    	<property name="transactionReversalManager" ref="transactionReversalManager" />      
  	</bean>

</beans>

