<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<!-- DAO -->
  
	<bean id="serviceDAO" class="com.inov8.microbank.server.dao.servicemodule.hibernate.ServiceHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>
  	<bean id="serviceListViewDAO" class="com.inov8.microbank.server.dao.servicemodule.hibernate.ServiceListViewHibernateDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
  	</bean>

<!-- Service -->

    <bean id="serviceManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.servicemodule.ServiceManagerImpl">
				<property name="serviceDAO">
					<ref local="serviceDAO"/>
				</property>           						
				<property name="serviceListViewDAO">
					<ref local="serviceListViewDAO"/>
				</property>  
            </bean>
		</property>
	</bean>

<!-- Facade -->

  <bean id="serviceFacade" class="com.inov8.microbank.server.facade.ServiceFacadeImpl">
            <property name="serviceManager">
      			<ref local="serviceManager"/>
    		</property>
    		<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator"/>
  </bean>

</beans>
