<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

  <!-- Definition of All DAO -->
  <bean id="failureLogDAO" class="com.inov8.microbank.server.dao.failurelogmodule.hibernate.AuditLogHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="failureReasonDAO" class="com.inov8.microbank.server.dao.failurelogmodule.hibernate.FailureReasonHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="auditLogDAO" class="com.inov8.microbank.server.dao.failurelogmodule.hibernate.AuditLogHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <!-- Definition of Service -->
  <bean id="failureLogManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.failurelogmodule.FailureLogManagerImpl">
        <property name="failureLogDAO">
          <ref local="failureLogDAO"/>
        </property>
        <property name="failureReasonManager">
          <ref local="failureReasonManager"/>
        </property>
      </bean>
    </property>
  </bean>

  <bean id="failureReasonManager" parent="baseTransactionProxy">
    <property name="target">
      <bean class="com.inov8.microbank.server.service.failurelogmodule.FailureReasonManagerImpl">
        <property name="failureReasonDAO">
          <ref local="failureReasonDAO"/>
        </property>
      </bean>
    </property>
  </bean>

  <!--Definition of Facade -->

  <bean id="auditLogModuleFacade" class="com.inov8.microbank.server.facade.AuditLogFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
    <property name="failureLogManager">
      <ref local="failureLogManager"/>
    </property>
    <property name="failureReasonManager">
      <ref local="failureReasonManager"/>
    </property>
  </bean>

</beans>
