<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<!-- DAO -->
	<bean id="walkInCustomerViewDao" class="com.inov8.microbank.server.dao.portal.walkincustomermodule.hibernate.WalkInCustomerViewDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Service -->
    <bean id="walkInCustomerViewManager" class="com.inov8.microbank.server.service.portal.walkincustomermodule.WalkInCustomerViewManagerImpl">
  		<property name="walkInCustomerViewDao" ref="walkInCustomerViewDao" />
    </bean>

	<!-- Facade -->
    <bean id="walkInCustomerViewFacade" class="com.inov8.microbank.server.facade.portal.walkincustomermodule.WalkInCustomerViewFacadeImpl">
    	<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator" />
    	<property name="walkInCustomerViewManager" ref="walkInCustomerViewManager" />      
  	</bean>

</beans>

