<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


<!-- DAO -->


  <bean id="forgotVeriflyPinViewDAO" class="com.inov8.microbank.server.dao.portal.forgotveriflypinmodule.hibernate.ForgotVeriflyPinViewHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="smartMoneyAccountDAO" class="com.inov8.microbank.server.dao.smartmoneymodule.hibernate.SmartMoneyAccountHibernateDAO">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

<!-- Service -->

    <bean id="forgotVeriflyPinManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.portal.forgotveriflypinmodule.ForgotVeriflyPinManagerImpl">
				<property name="appUserDAO"> <ref bean="appUserDAO"/> </property>  
				<property name="allpayForgotVeriflyPinViewDAO">
					<ref bean="allpayForgotVeriflyPinViewDAO"/>
				</property>	
				<property name="forgotVeriflyPinViewDAO">
					<ref local="forgotVeriflyPinViewDAO"/>
				</property>
				<property name="veriflyManagerService" >
					<ref bean="veriflyController"/>
				</property>
				<property name="smartMoneyAccountDAO" >
					<ref local="smartMoneyAccountDAO"/>
				</property>	
				<property name="actionLogManager" ref="actionLogManager"/>	
				<property name="financialIntegrationManager" ref="financialIntegrationManager"/>
				<property name="smsSender" ref="smsSender"/>	
				<property name="ivrRequestHandler" ref="ivrRequestHandler"/>	
			</bean>
		</property>
	</bean>

<!-- Facade -->

  <bean id="forgotVeriflyPinFacade" class="com.inov8.microbank.server.facade.portal.forgotveriflypinmodule.ForgotVeriflyPinFacadeImpl">
    <property name="frameworkExceptionTranslator">
      <ref bean="frameworkExceptionTranslator"/>
    </property>
        <property name="forgotVeriflyPinManager">
        <ref local="forgotVeriflyPinManager"/>
    </property>
  </bean>

</beans>
