<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">




	<bean id="ussdReqHandler" class="com.inov8.microbank.ussd.UssdRequestHandler">
		<property name="commonCommandManager" ref="commonCommandManager"/>
		<property name="mfsReqHandler"  ref="mfsReqHandler"/>
		<property name="ussdMenuManager"  ref="ussdMenuManager"/>
		<property name="commandManager"  ref="cmdManager"/>
		<property name="actionLogManager"  ref="actionLogManager"/>
		<property name="messageSource" ref="messageSource"/>
		<property name="ussdUserStateManager"  ref="ussdUserStateManager"/>
		<property name="commissionRateDAO"  ref="commissionRateDAO"/>
		
	</bean>
	<!-- DAO -->

	<bean id="ussdMenuDAO"
		class="com.inov8.microbank.server.dao.ussdmodule.hibernate.UssdMenuHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ussdMenuMappingDAO"
		class="com.inov8.microbank.server.dao.ussdmodule.hibernate.UssdMenuMappingHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ussdUserStateDAO"
		class="com.inov8.microbank.server.dao.ussdmodule.hibernate.UssdUserStateHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	


	<!-- Service -->

	<bean id="ussdMenuManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.ussdmodule.UssdMenuManagerImpl">
				<property name="ussdMenuDAO">
					<ref local="ussdMenuDAO" />
				</property>
				<property name="genericDAO" ref="genericHibernateDAO"/>


			</bean>
		</property>
	</bean>
	
	<bean id="ussdMenuMappingManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.ussdmodule.UssdMenuMappingManagerImpl">
				<property name="ussdMenuMappingDAO">
					<ref local="ussdMenuMappingDAO" />
				</property>
			    <property name="genericDAO" ref="genericHibernateDAO"/>


			</bean>
		</property>
	</bean>
	<bean id="ussdUserStateManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.inov8.microbank.server.service.ussdmodule.UssdUserStateManagerImpl">
				<property name="ussdUserStateDAO">
					<ref local="ussdUserStateDAO" />
				</property>
				<property name="genericDAO" ref="genericHibernateDAO"/>


			</bean>
		</property>
	</bean>
	
	
 <!-- Facade -->
  <bean id="ussdMenuFacade" class="com.inov8.microbank.server.facade.ussdmodule.UssdMenuFacadeImpl">
            <property name="ussdMenuManager" ref="ussdMenuManager"/>
    		<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator"/>
  </bean>
  
   <bean id="ussdMenuMappingFacade" class="com.inov8.microbank.server.facade.ussdmodule.UssdMenuMappingFacadeImpl">
            <property name="ussdMenuMappingManager" ref="ussdMenuMappingManager"/>
    		<property name="frameworkExceptionTranslator" ref="frameworkExceptionTranslator"/>
  </bean>


</beans>


