<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- DAO -->
	<bean id="distributorContactDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorContactHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorContactListViewDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorContactListViewHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="appUserDAO"
		class="com.inov8.microbank.server.dao.securitymodule.hibernate.AppUserHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorLevelDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorLevelHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorListViewDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorListViewHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorLevelListViewDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorLevelListViewHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="distributorLvlRetContactViewDAO"
		class="com.inov8.microbank.server.dao.distributormodule.hibernate.DistributorLvlRetContactViewHibernateDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="sequenceGenerator"
		class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="dataSource" ref="dataSource" />
		<property name="sequenceName">
			<value>DISTRIBUTOR_CONTT_SUMMARY_SEQ</value>
		</property>
	</bean>

	<bean id="goldenNosDAO"
		class="com.inov8.microbank.server.dao.portal.mfsaccountmodule.hibernate.GoldenNosHibernateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="goldenNoSequenceGenerator"
		class="com.inov8.framework.server.dao.framework.jdbc.OracleSequenceGeneratorJdbcDAO"
		init-method="initDao">
		<property name="dataSource" ref="dataSource" />
		<property name="sequenceName" value="GOLDEN_NOS_SEQ" />
	</bean>

  <bean id="partnerDAO" class="com.inov8.microbank.server.dao.usergroupmodule.hibernate.PartnerHibernateDAO">
	   <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="partnerIpAddressDAO" class="com.inov8.microbank.server.dao.partnermodule.hibernate.PartnerIpAddressHibernateDAO">
	   <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  

  <bean id="partnerPermissionGroupDAO" class="com.inov8.microbank.server.dao.usergroupmodule.hibernate.PartnerPermissionGroupHibernateDAO">
	   <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  

	<!--
		Services
	-->
	<bean id="distributorContactManager" parent="baseTransactionProxy"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.distributormodule.DistributorContactManagerImpl"
				lazy-init="default" autowire="default" dependency-check="default">
				<property name="distributorContactDAO">
					<ref local="distributorContactDAO" />
				</property>
				<property name="distributorContactListViewDAO">
					<ref local="distributorContactListViewDAO" />
				</property>
				
				<property name="distributorLevelDAO">
					<ref local="distributorLevelDAO" />
				</property>
				
				<property name="distributorDAO">
					<ref local="distributorDAO" />
				</property>
				
				<property name="userDeviceAccountsDAO">
					<ref bean="userDeviceAccountsDAO" />
				</property>
				<property name="appUserPartnerGroupDAO" ref="appUserPartnerGroupDAO"/>
				<property name="goldenNosDAO">
					<ref local="goldenNosDAO" />
				</property>
				<property name="actionLogManager" ref="actionLogManager"/>
				<property name="smsSender" ref="smsSender" />
				<property name="sequenceGenerator"
					ref="goldenNoSequenceGenerator" />
				<property name="appUserDAO">
					<ref bean="appUserDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="distributorLevelManager" parent="baseTransactionProxy"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.distributormodule.DistributorLevelManagerImpl"
				lazy-init="default" autowire="default" dependency-check="default">
				<property name="distributorLevelDAO">
					<ref local="distributorLevelDAO" />
				</property>
				<property name="distributorContactDAO">
					<ref local="distributorContactDAO" />
				</property>
				<property name="genericDAO" ref="genericHibernateDAO"/>
				<property name="distributorLevelListViewDAO">
					<ref local="distributorLevelListViewDAO" />
				</property>
				<property name="distributorLvlRetContactViewDAO">
					<ref local="distributorLvlRetContactViewDAO" />
				</property>
			</bean>
		</property>
	</bean>
	<bean id="distributorManager" parent="baseTransactionProxy"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="target">
			<bean
				class="com.inov8.microbank.server.service.distributormodule.DistributorManagerImpl"
				lazy-init="default" autowire="default" dependency-check="default">
				<property name="distributorDAO">
					<ref local="distributorDAO" />
				</property>
				<property name="distributorLevelDAO">
					<ref local="distributorLevelDAO" />
				</property>
				<property name="distributorListViewDAO">
					<ref local="distributorListViewDAO" />
				</property>
		       <property name="partnerDAO">
        		  <ref local="partnerDAO"/>
       			</property>
       		   <property name="partnerPermissionGroupDAO">
          			<ref local="partnerPermissionGroupDAO"/>
       		   </property>				
			</bean>
		</property>
	</bean>
	<!--
		Facade
	-->
	<bean id="distributorFacade"
		class="com.inov8.microbank.server.facade.DistributorFacadeImpl"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="frameworkExceptionTranslator">
			<ref bean="frameworkExceptionTranslator" />
		</property>
		<property name="distributorContactManager">
			<ref local="distributorContactManager" />
		</property>
		<property name="distributorLevelManager">
			<ref local="distributorLevelManager" />
		</property>
		<property name="distributorManager">
			<ref local="distributorManager" />
		</property>
	</bean>
</beans>
